[2017-09-29 07:40] ChrisBellew opened #983 "Opinion: Website scrolling slightly offputting?"
Hello,

Firstly, what a great library this is. Thanks a lot!

Just wanted to make a (very low priority :)) comment about the documentation site here http://turfjs.org/docs/

I'm not sure if it's just me but it feels slightly offputting that the live example next to each section seems to appear as you uncover the section, as soon as it is right at the bottom of the viewport.

I have this behavior o

[2017-09-29 07:48] stebogit commented on #983
Hey @ChrisBellew, you're not alone in that!
@rowanwins in particular is already thinking about [how to improve it](https://github.com/Turfjs/turf-www/issues/115). 😃
So stay tune! 👍
And feel free to share ideas 💡

Gonna close this, but you can add more in the [Turf/www](https://github.com/Turfjs/turf-www) project.

[2017-09-29 07:48] #983 closed

[2017-09-29 15:06] DenisCarriere commented on #880
The proposed `slice` module will be pushed after `v5.0` is released.

[2017-09-29 15:07] DenisCarriere commented on #862
@rowanwins During the `v5.0` re-work I'm going to refactor all the Typescript definitions to reflect the "future" 🚀  Typescript guide.

[2017-09-29 15:14] DenisCarriere commented on #974
@stebogit Ideally in the "future" 🚀 this export/import syntax will be native to NodeJS and then PHPStorm should just "work" without any `@std/esm` if you are using a latest version of Node (maybe v9?).

Closing this issue since `@std/esm` is now implemented across all Turf modules.

[2017-09-29 15:14] #974 closed

[2017-09-29 15:15] DenisCarriere commented on #971
🎉 Implemented

[2017-09-29 15:15] #971 closed

[2017-09-29 23:51] jdalton commented on #974
Thanks 🙇 for using `@std/esm`, let me know if you run into any issues or have feedback!

[2017-09-30 07:06] rowanwins commented on #983
Hi @ChrisBellew

Yeah unfortunately we had to apply some trickery to avoid loading 100 maps on the page, hence why it moves with the scroll. This issue will go away when I release the new docs.

Cheers

[2017-09-30 16:26] AABoyles opened #984 "Use a single version of JSTS"
Turf presently requires specific versions of jsts in difference, union, intersect, and buffer. While I see that [factoring JSTS out of turf](https://github.com/Turfjs/turf/issues?q=is%3Aissue+is%3Aopen+jsts+label%3Aremove-jsts) has been on the agenda for awhile now, I'd like to request a simpler change: just use one version of it. That way, if nothing else, a turf user will only need to download i

[2017-10-01 05:15] DenisCarriere commented on #984
There is a test to make sure we don't use multiple versions of jsts.

Thanks for reporting this issue regardless. It was an issue in earlier versions.
https://github.com/Turfjs/turf/blob/master/packages/turf/test.js#L52

[2017-10-01 05:15] #984 closed

[2017-10-01 12:58] AABoyles commented on #984
Hey Dennis, thanks for responding!

The test is contradictory. It checks for jsts v1.4.0 and if it isn't there, it fails with the message that the module must use jsts v.1.3.0. So which is correct? Should modules be using jsts 1.3.0 or 1.4.0?

Also, if you're confident this is resolved, was it resolved recently? I discovered this based on the latest release on npm, which is only three weeks old.

[2017-10-01 15:50] DenisCarriere commented on #984
Ops the test does contradict itself, but it should be version `1.4.0`, the console message it different.

This validation has been present since 5 months ago. So it doesn't look like it's TurfJS that has multiple `jsts` versions, might come from a 3rd party dependency.

https://github.com/Turfjs/turf/blame/09027fe0639783ffdb03e486a66f5b89583bda5e/packages/turf/test.js#L52

[2017-10-01 15:53] DenisCarriere commented on #984
@AABoyles Feel free to add more tests in the main package for global checks, however I'm confident that there's nothing more TurfJS can do about the `jsts` dependency.

[2017-10-01 22:23] alexgleith commented on #580
Hey @DenisCarriere, I'm looking at this today, as I did have it working, but the `@turf/polygonize` function is no longer returning two features for the split... it seems to be cleverly dissolving the split line component.

So, I wonder if you have any thoughts about a way to go about re-uniting the lines that are output currently into polygon features?

Another thing, I think it should work for m

[2017-10-02 00:38] ChrisBellew commented on #983
Happy times :)

[2017-10-02 00:48] alexgleith commented on #580
Hey @DenisCarriere

One more note. I realised that the issue causing the polygonize to fail is in line splitting. In the `simple` example in the test cases, the lines that are split up the top of the feature split differently depending on if you split the line with the polygon or the polygon with the line.

Evidence 1 - this is the difference between the split points:
![image](https://user-images.

[2017-10-02 14:23] DenisCarriere commented on #580
@alexgleith Great job!

🤔 That's annoying and good at the same time...

👍 Agreed, however getting Polygon to work first would be the first step.

🤔 Definitely submit a test case for the line splitter, we can look into fixing that first.

[2017-10-02 21:18] alexgleith commented on #580
Ok, I'll do that now.

I have some working code for handling MultiPolygons. Not sure if it fits into the Turf 'standard way of doing things' but it works. Will leave it for now, as it's pretty trivial, but I can put a PR together if you like.

[2017-10-02 22:07] alexgleith opened #990 "lineSplit location is different depending on which line is first"
Please provide the following when reporting an issue:

- [https://gist.github.com/alexgleith/7d6312821911c4b49ff6ec735c6d021c](Split results)
- [https://github.com/Turfjs/turf/pull/989](PR with test reproducing the issue is here)

The issue is that when splitting a line, featureOne, with another line, featureTwo, the location of the split can be different. This'll be a hairy issue around coordinat

[2017-10-02 22:09] alexgleith commented on #580
Hey @DenisCarriere, here's an [issue](https://github.com/Turfjs/turf/issues/990) and it links a [PR](https://github.com/Turfjs/turf/pull/989) with a test case.

[2017-10-03 02:38] DenisCarriere commented on #580
Thanks @alexgleith for submitting this, this will be useful as reference whenever someone tackles this issue.

At the moment I'm not too sure where to start with this issue. 🤷‍♂️

[2017-10-03 15:22] DenisCarriere commented on #990
Doesn't this say 2.4 mm (millimeters?)

[2017-10-03 15:23] DenisCarriere commented on #990
Going to close this until we can get another test fixture which has a greater error than 2mm.

[2017-10-03 15:23] #990 closed

[2017-10-03 15:56] bwyss opened #992 "Update API Docs"
A small thing, the API docs under Meta / getGeom reads:

`var geom = turf.getGeom(point)`

Should be:

`var geom = turf.invariant.getGeom(point)`

[2017-10-03 17:53] DenisCarriere opened #994 "Rework @turf/random"
# Rework `@turf/random`

Looking at the `@turf/random` module and it seems like it could use a revamp for the next major release (v5.0).

## Reasons for rework

- [`geojson-random`](https://github.com/node-geojson/geojson-random)  dependency doesn't include ES modules
- Make it behave exactly like `geojson-random`.
- Extend `lineString` & `Position` support.
- Each random method will have it's own

[2017-10-03 18:38] DenisCarriere commented on #994
# ⚠️  Change to proposal

To prevent any method name duplication from `@turf/helpers` (point, lineString, polygon).

Going to change the method names to `randomPoint`, `randomLineString` & `randomPolygon` that way it's easier to expose them in `@turf/turf` without manually defining them with `as`.

[2017-10-03 20:48] DenisCarriere commented on #992
When using `@turf/turf` it exposes all the sub methods.

**is valid**
[code]
**won't work in v5.0** (maybe it should.. 🤔 )

[code]
Ref: https://github.com/Turfjs/turf/blob/master/packages/turf/index.js#L101

[2017-10-03 21:08] alexgleith commented on #990
Hey @DenisCarriere, I probably didn't explain it well enough...

I think this is the root cause of [this issue](https://github.com/Turfjs/turf/issues/580#issuecomment-333418924).

And in looking at that issue with the `polygon-split` function, I did try the `truncate` operation, but it breaks the 'point on line' test (I guess due to precision again).

So, perhaps I should write it up differently,

[2017-10-03 21:32] DenisCarriere commented on #990
🤔 It's definitely a painful one... I would suggest you test your `polygon-slice` method using 6 decimal precision.

There's also `@turf/clean-coords` which might help to apply before you perform any operations:

https://github.com/Turfjs/turf/tree/master/packages/turf-clean-coords

[2017-10-03 22:13] bwyss commented on #992
thx! I absolutely love the library by the way!!!

[2017-10-03 22:29] bwyss opened #997 "turf.circle (Polygons) should follow the right-hand rule"
When creating a circle the resulting polygon violates the right-hand rule.

eg:

`{
      "features": [
        {
          "geometry": {
            "coordinates": [
              [
                [
                  -95.214561936440190948,
                  29.814460843464615891
                ],
                [
                  -95.214464164386669154,
                  29.81445320850489721

[2017-10-03 22:32] DenisCarriere commented on #997
👍 Good catch! This should be fixed

[2017-10-03 23:33] DenisCarriere commented on #992
👍 @bwyss Thanks, don't hesitate to submit more issues if something isn't conforming to the GeoJSON spec.

[2017-10-03 23:34] #992 closed

[2017-10-04 00:25] DenisCarriere opened #999 "Proposed module @turf/point-origin"
# Proposed module `@turf/point-origin`

## Aimed for Turf v5.1 release

A module which defines a point of origin from a GeoJSON/BBox.

## How to use

[code]

## Refactoring for

Used to help define `origin`/`pivot` points

- `@turf/transform-scale`
- `@turf/transform-rotate`
- `@turf/transform-translate`

## Already created in `@turf/transform-scale`

[code]

[2017-10-04 05:23] DenisCarriere commented on #944
🎉 All done.. now just need to review the remaining errors that were caused by the refactoring.

https://github.com/Turfjs/turf/pull/993

[2017-10-04 10:44] vicvolk opened #1000 "Turf area makes very big errors"
So, I have two arbitrary features. Feature 1 has such coordinates:

`[[[43.78399729326754,56.36157554846778],[43.78399729326754,56.4607222095473],[44.30413126543552,56.4607222095473],[44.30413126543552,56.36157554846778],[43.78399729326754,56.36157554846778]],[[43.931626077447234,56.417638450785546],[43.931626077447234,56.391042617567535],[43.972824807915984,56.391042617567535],[43.972824807915984

[2017-10-04 10:47] vicvolk commented on #1000
Oh, sorry! I see what is wrong with that! My fault.

[2017-10-04 10:47] #1000 closed

[2017-10-04 20:12] DenisCarriere commented on #944
Done

[2017-10-04 20:12] #944 closed

[2017-10-09 15:06] kannes opened #1008 "dissolve documentation ambiguity"
http://turfjs.org/docs/#dissolve says

a) A FeatureCollection of Features that have Polygon geometries is meant, right?

b) What is meant by "multipart features"? Features having Multi* geometries such as MultiPolygon?

[2017-10-09 22:29] rowanwins commented on #1008
Hi @kannes

Yes are you are correct on both counts. Thanks for the report and we'll get the docs updated :)

[2017-10-10 11:19] kannes commented on #1008
Thanks!

Is support for MultiPolygons planned in the foreseeable future?

[2017-10-10 19:05] DenisCarriere commented on #970
Implemented via PR https://github.com/Turfjs/turf/pull/1009

[2017-10-10 19:05] #970 closed

[2017-10-10 21:41] rowanwins commented on #1008
A rejig of the dissolve module to include multipolygons is on the cards, although we need to replace our union module first (on which dissolve depends) so it'll probably be a few months before we get to it.

[2017-10-11 04:32] DenisCarriere commented on #1008
Like @rowanwins mentioned, it would be best to update the `union` in the first place and then move towards supporting all the other GeoJSON geometry types such as MultiPolygon.

@kannes Thanks for the documentation input, TurfJS's documentation is auto-generated from the JSDocs found in each `index.js` files, feel free to submit a PR with documentation updates, this will greatly improve TurfJS to

[2017-10-11 05:13] DenisCarriere commented on #1000
🎉 Issue 1000, lol!

[2017-10-11 05:33] stebogit commented on #997
Fixed with #998

[2017-10-11 05:33] #997 closed

[2017-10-11 05:33] stebogit commented on #834
Implemented with #982

[2017-10-11 05:33] #834 closed

[2017-10-11 05:35] stebogit commented on #978
Fixed with  #980

[2017-10-11 05:35] #978 closed

[2017-10-11 18:56] DenisCarriere opened #1015 "Use geokdbush for `@turf/nearest`"
# Use `geokdbush` for `@turf/nearest`

Seems like `@turf/nearest` could have a significant performance increase by leveraging @mourner's [geokdbush](https://github.com/mourner/geokdbush).

### Current code of `@turf/nearest`

[code]

[2017-10-11 20:13] DenisCarriere opened #1017 "New modules - euclidean-intersection & euclidean-distance"
## New modules - euclidean-intersection & euclidean-distance

Found in [`@turf/point-to-line-distance`](https://github.com/Turfjs/turf/blob/master/packages/turf-point-to-line-distance), it would be nice to extract those modules out as their own seperate modules.

## Module name proposal

- `@turf/euclidean-intersection`
- `@turf/euclidean-distance`

or all methods grouped under `@turf/euclidean`

[2017-10-11 21:02] brianreavis opened #1018 "AGPL license issue with turf-isobands"
Casual observation here: [turf-isobands](https://github.com/Turfjs/turf/tree/master/packages/turf-isobands) uses [marchingsquares-isobands.js](https://github.com/Turfjs/turf/blob/master/packages/turf-isobands/marchingsquares-isobands.js) which is AGPL and (as far as I know) not compatible with turf's MIT license?

[2017-10-11 21:25] DenisCarriere commented on #1018
This has already be discussed here:
https://github.com/RaumZeit/MarchingSquares.js/issues/3

With the modified license:
https://github.com/RaumZeit/MarchingSquares.js/commit/870f00630b739cf94aeb63b11197b0941bd8793f

[2017-10-11 21:25] #1018 closed

[2017-10-13 05:20] stebogit opened #1019 "Remove @turf/square-grid "completelyWithin""
@DenisCarriere I am working on [renaming](https://github.com/Turfjs/turf/issues/460#issuecomment-310360602) the `cellSide` parameter of `@turf/hex-grid` and I noticed we mentioned to add also a `completelyWithin` option, already [implemented](https://github.com/Turfjs/turf/pull/612) in `@turf/square-grid`.
However I was wondering if it makes sense to have that parameter, or if actually would be be

[2017-10-13 16:35] DenisCarriere commented on #1019
👍 Also noticed the same, we should try to revamp all the `<type>-grid` modules to make them behave the same way, they should all have the same Options (or at least the same base options).

[2017-10-15 07:05] stebogit commented on #910
Implemented with #1020 and https://github.com/Turfjs/turf/pull/991/commits/acbe77d44cb4427d2773802a26b4c681cbc6b617

[2017-10-15 07:05] #910 closed

[2017-10-16 14:06] jpoynton opened #1021 "isobands documentation clarity"
Isoband documentation states that it takes a "grid FeatureCollection of Point features with z-values and an array of value breaks and generates filled contour isobands.". Can you clarify docs to be clear that it requires a square or rectangular grid in order to work.

The confusion came about because turf.pointGrid states that it "Creates a Point grid from a bounding box, FeatureCollection or Feat

[2017-10-16 14:35] stebogit commented on #1021
@jpoynton thanks for the feedback.
You're absolutely right, we need to clarify the `@turf/isobands` docs and maybe also throw an error if the input is not a square matrix. Also `@turf/point-grid` docs might have a note about `isobands` compatibility.

BTW @DenisCarriere I find confusing though that `@turf/point-grid`

Why FeatureCollection or Feature are included? I'd say a bounding box should be

[2017-10-16 15:19] amenadiel commented on #962
I believe `@turf/meta` needs a default export in the form

[code]

because dependencies (such as `geojson-rbush`) do still require it as

[code]
So trying to build, for example, a pure ES6 version of `@turf/line-overlap` (which depends on `geojson-rbush`) using rollup will complain:

[code]
Of course, there is still the issue about importing `jsts`, since jsts's `package.json` [declares an empty `

[2017-10-16 15:58] njriordan commented on #41
👍

[2017-10-16 16:07] jpoynton commented on #1021
@stebogit thanks. As for your question to @DenisCarriere I'll have a go at answering. I believe point grid will calculate the bounding box for you if you give it a featurecollection/feature. The other option of a masked point grid would also require a feature collection feature as it's input. And that's useful to me.  I'm generating isochrones using OSRM and use the grid points as my target destin

[2017-10-16 16:16] DenisCarriere commented on #974
@jdalton Sorry for the 17+ day response, I still haven't forgotten about your comment. As for feedback, so far `@std/esm` is working out just great!

I'll make sure to send some feedback on `@std/esm` issues, so far it looks great! 👍

[2017-10-16 16:46] DenisCarriere commented on #962
@amenadiel Agreed... 🤔 Seems like everything needs to be changed to Modules or add more "support" for other libraries that don't want to Modules.

We're definitely in a transition phase with CommonJS + ES Module libraries.

I'll add `export default` to the libraries which have multiple methods.

I've went back and forth with this decision a lot... 😠

[2017-10-16 16:47] DenisCarriere commented on #962
Agreed! That's also an issue

[2017-10-16 17:42] bjornharrtell commented on #962
Hmm I still can't understand why that's an issue and why you can't import individual modules from the package. See https://github.com/bjornharrtell/jsts/pull/317 (was closed with no response to my review comment).

[2017-10-16 17:46] DenisCarriere commented on #962
@bjornharrtell It's an issue (on Turf's side) right now since we only import `jsts` at the root (const jsts = require('jsts'), we have to change all the modules that depend on `jsts` using the new ES module syntax.

[2017-10-16 18:06] DenisCarriere commented on #962
The biggest issue is the lack of documentation on how to use ES Modules with `jsts`.

## CommonJS

[code]

## Most common ES modules imports

[code]

[code]

[code]

[2017-10-16 18:17] bjornharrtell commented on #962
I agree some more documentation would be good. If you know the upstream (JTS) it's easier, but still. Bear in mind the ES module support is rather new and that JSTS is a one man project. I think you might be the first user actually getting to depend in it this way, except me.

I'll try to use your examples as a starting point for a ES module quick start.

For `WKTReader` the correct module path is

[2017-10-16 19:40] amenadiel commented on #962
@DenisCarriere I've been playing a bit with this based in  @bjornharrtell comment about his [topolis](https://github.com/bjornharrtell/topolis) project and it seems it's not that difficult to use named imports from `jsts`.

Given you have `jsts` installed as a dependency in your `node_modules` folder, you can replace every occurence of

[code]

with

[code]

And every occurence of `jsts.io.GeoJSON

[2017-10-16 21:07] DenisCarriere commented on #962
👍 Ok Thanks for your help @bjornharrtell I've made some progress using the ES modules.

It's still very cryptic.. but once we have a few examples it will be easier to implement the newer ES module syntax.

[2017-10-16 21:08] DenisCarriere commented on #962
So far I've got buffer working with the following code:

[code]

[2017-10-16 21:43] drewbo opened #1023 "Turf/circle throws errors when passing optional arguments"
Version: `5.0.0`

The following code works fine:
[code]

However when passing other arguments, it looks like it might be expecting an options object rather than individual arguments. For example:

[code]

[2017-10-16 21:54] DenisCarriere commented on #962
@amenadiel I wouldn't recommend using `monkey.js` since that will import the entire library, which would defeat the entire purpose of Rollup and it would make the Rollup bundle huge.

One of the strengths of ES modules is it allows Tree Shaking, importing `monkey.js` would remove that feature.

[2017-10-16 21:56] DenisCarriere commented on #962
Here's a breakdown of the buffer example filesize:
- normal => `408KB` (14,600 Lines of code)
- minified => `256KB`

[2017-10-16 22:00] DenisCarriere commented on #962
@bjornharrtell @amenadiel I've posted some working examples of `jsts` with ES6 modules.

https://github.com/DenisCarriere/jsts-es6-example

Look at the [buffer example](https://github.com/DenisCarriere/jsts-es6-example/blob/master/es6-examples/buffer.js) I've created, I added a custom `monkey.js` process to include only the buffer operation.

[2017-10-16 22:03] DenisCarriere commented on #1023
`@turf/circle` now uses the new `options` syntax instead of parameters. The docs haven't been updated to reflect this change, also the main Turf is still on v4.0, only some modules have been bumped up to v5.0 for testing purposes.

Reference this for now: https://github.com/Turfjs/turf/blob/master/packages/turf-circle/index.js#L4-L24

[2017-10-16 22:06] DenisCarriere commented on #1023
Just updated the README's, check out the documentation directly in the `turf-circle` repo (for now, until the website gets updated).

https://github.com/Turfjs/turf/tree/master/packages/turf-circle#turfcircle

[2017-10-17 01:06] amenadiel commented on #962
You're right, monkey adds a lot of overhead. However I always try to tamper as little as possible with third party code, so I can update my deps transparently.

By monkey patching the Geometry proto yourself  you're introducing a coupling, given the unlikely case that jsts buffer footprint ever changes.

This is still a giant leap ahead regarding the seamless integration with jsts methods.

[2017-10-17 01:10] amenadiel commented on #962
**PS** I'm all about tree shaking. However I still believe the right approach would be to submit a PR against jsts to split monkey.js into several decorators.

[2017-10-17 01:56] jingsam opened #1024 "line self-intersect after bezier"
turf 4.7.3

Before:
![1](https://user-images.githubusercontent.com/1522494/31643037-e30b45ae-b2b3-11e7-8974-06ec5e5822b2.png)

Afer:
![2](https://user-images.githubusercontent.com/1522494/31643054-f98231e4-b2b3-11e7-9b02-090e7694d48b.png)

[2017-10-17 05:14] DenisCarriere commented on #1023
Going to close this issue since this will be the same for all v5.0 methods. I updated the docs to reflect the changes, website docs will follow shortly.

[2017-10-17 05:14] #1023 closed

[2017-10-17 05:58] bjornharrtell commented on #962
Monkey is about keeping API compatibility with previous version and upstream but are really only delegates from Geometry to other modules. Was broken out into a hacky money patch because it creates evil circular dependencies. Would like to see it removed in the future but depends on upstream.

The monkey patch can be avoided entirely, but it's not clearly documented yet (although can be found in A

[2017-10-17 06:04] stebogit commented on #1024
@jingsam could you please provide some more details on the issue?
Could you please provide some data and a code snippet that replicate the issue so we can take test it?
- [ ] GeoJSON data as a [gist file](https://gist.github.com/) or [geojson.io](http://geojson.io/) (filename extension must be `.geojson`).
- [ ] Snippet of source code or for complex examples use [jsfiddle](https://jsfiddle.net/).

[2017-10-17 06:38] stebogit commented on #1021
@jpoynton you are right, for `@turf/point-grid` a `Polygon` or `FeatureCollection` (of `Polygon`s only) make sense due to the mask option, however I'd say not for the other grid modules, which don't have the mask option.

[2017-10-17 08:05] DenisCarriere commented on #962
@bjornharrtell 👍 Nice, I'll try to use your Index modules suggestions in the coming PR:

https://github.com/Turfjs/turf/pull/1025

[code]
Looks easy enough to use this approach.

[2017-10-17 08:09] DenisCarriere commented on #962
👍 Works like charm

[2017-10-17 13:20] drewbo commented on #1023
Thanks for the quick response @DenisCarriere!

[2017-10-17 16:48] DenisCarriere commented on #1021
@stebogit Good point, what if we make the input `bbox` only and use the `mask` option as `Feature<Polygon>` instead of boolean. That way it's easier to understand the process and have to guess "what happens when I enter a Polygon" as input.

[2017-10-17 16:48] DenisCarriere commented on #1021
Since we're already pushing for a breaking change, we should do this change now before we officially release `v5.0`

[2017-10-17 17:15] DenisCarriere opened #1027 "Rework modules @turf/dissolve & new module @turf/line-dissolve"
## Rework modules `@turf/dissolve`
## New module proposal `@turf/line-dissolve`

Been looking at converting `geojson-dissolve` to ES modules and diving into the source code and many things could be dropped for performance and `geojson-linestring-dissolve` can be converted to an internal TurfJS module.

### Dependencies

- [x] `topojson-server` (ES module compatible)
- [x] `topojson-client` (ES mod

[2017-10-17 19:29] DenisCarriere commented on #1023
👍

[2017-10-18 07:46] stebogit commented on #1021
Perfect @DenisCarriere, will do

[2017-10-18 15:35] DenisCarriere commented on #1021
👍

[2017-10-19 15:20] stebogit opened #1031 "Add `bbox` parameter to @turf/interpolate"
Currently `@turf/interpolate` defines the area on which to interpolate the values as the bounding box surrounding the input points.
It would be useful to be able to define your area of interest, which might be different than the current (then default)`bbox(points)`, like this:

![screen shot 2017-10-19 at 8 11 05 am](https://user-images.githubusercontent.com/12717225/31778324-33471938-b4a5-11e7-9a

[2017-10-20 14:07] dhivehi commented on #785
![image](https://user-images.githubusercontent.com/18715293/31824608-f6b05492-b5c8-11e7-9d0b-519033b9d5b0.png)

Again failed in this case also:

[code]

[2017-10-20 15:17] dhivehi opened #1032 "Turf tangents fails in some cases again"
Sample data for test:
![image](https://user-images.githubusercontent.com/18715293/31828360-72c19b4a-b5d3-11e7-8395-1ac92645297c.png)

[code]

[2017-10-21 13:13] dbauszus-glx opened #1034 "Linear Interpolation"
Is there any turf method which allows for linear interpolation? IDW works great but isn't ideal for working with the sample data.

[2017-10-21 14:01] stebogit commented on #1034
@dbauszus-glx have you tried [`@turf/interpolate`](https://github.com/Turfjs/turf/tree/master/packages/turf-interpolate)?

[2017-10-21 17:24] dbauszus-glx commented on #1034
Yes, that's the function which I tested. [According to the documentation](http://turfjs.org/docs/#interpolate) this fx() is using an IDW algorithm.

I set the weight to 0 but this doesn't give me a linear interpolation. I need a linear interpolation between sample points (black circles). Temperature and rain fall for example are not expected to drop at a distance to the sample point.

![image](htt

[2017-10-21 18:36] dbauszus-glx commented on #1034
I solved the problem with a workaround, using the turf/tin algorithm to create a tin and then assign the values to a grid using turf/planepoint. This gives me a linear interpolation.

    // create a tin from the points
    let tin = turfTIN(points, 'v');
    // console.log(JSON.stringify(tin));

    // assign IDs to the tin features
    for (let i = 0; i < tin.features.length; i++) {
        tin.

[2017-10-22 01:01] mike-anderson opened #1035 "hex-grid generates unexpected shapes at bounding box size greater than 180 degrees"
I'm attempting to generate a hex grid that meaningfully covers the world.

I am using an aribtrary hex cellDiameter parameter of 400 miles and generating the attached geojson files using the code below:

[code]

areas up to 180 degrees make undistorted hexes at the equator as expected.

<img width="1135" alt="hex180" src="https://user-images.githubusercontent.com/209407/31857076-215d7e90-b691-11e7

[2017-10-22 04:21] DenisCarriere opened #1036 "Boolean Overlap - doesn't overlap inside polygon"
## `@turf/boolean-overlap` - doesn't overlap inside polygon
@rowanwins I've been using `@turf/boolean-overlap` to apply a mask operation on the grid modules. Each grid polygon does the boolean-overlap method and should return `false/true`, however it seems like the polygon that are completely within (not touching the lines) are not counted as overlapping, is that the expected behavior? I would ass

[2017-10-22 04:29] DenisCarriere commented on #1035
@mike-anderson Great submited issue, we're actually working on that as we speak here: https://github.com/Turfjs/turf/pull/1029

The proposed change is to convert the grids to a Mercator projection that way the shapes would be "equal-distance" between each cellside. This new change will make it "look" better for world grids that are using Leaflet based maps (mercator projection).

👍

Hexes that are

[2017-10-22 04:31] DenisCarriere commented on #1035
## Related to PR https://github.com/Turfjs/turf/pull/1029 (close this issue when PR is merged)

[2017-10-22 07:24] stebogit commented on #1036
@DenisCarriere from the docs `@turf-overlaps`

The intersection of the big polygon with the inner grid polygons is actually equal to the grid polygon, so they do not technically overlap (based on the definition).
I think here `@turf/boolean-contains` or `@turf/boolean-within` would be the appropriate one to use.

[2017-10-22 08:04] rowanwins commented on #1032
Thanks for the report again @dhivehi , we'll take a look

[2017-10-22 08:23] stebogit commented on #1034
Sorry @dbauszus-glx I don't really know the difference between the two interpolations.
Would [this](https://en.wikipedia.org/wiki/Bilinear_interpolation) be the right function here?

@DenisCarriere wouldn't it be nice adding linear interpolation to Turf? We could have different interpolation modules like `@turf/interpolate-idw` and `@turf/interpolate-linear` or add a `type='idw'|'linear'` paramete

[2017-10-22 11:30] rowanwins commented on #1036
Hi @DenisCarriere

This definition from the FME [docs ](http://docs.safe.com/fme/2015beta/html/FME_Desktop_Documentation/Subsystems/FME_Transformers/Content/Transformers/spatialrelations.htm)is also helpful here

So I think @stebogit is on the money with his recommendation, it might be worth a quick check to see if one or the other is more performant that than the other for this use case...

[2017-10-22 11:30] #1036 closed

[2017-10-22 14:38] dbauszus-glx commented on #1034
Bilinear interpolation would be an amazing addition to turf. This would be even better than a linear tin interpolation for my use case. Likewise, having a linear tin interpolation out of the box without the need to construct the tin and filter points through would make this functionality more accessible to users.

[2017-10-22 16:17] mike-anderson commented on #1035
Thanks @DenisCarriere,
That's great to hear - I'll follow #1029

[2017-10-23 03:25] DenisCarriere commented on #1036
👍 Thanks for the answers, the FME docs are pretty good at explaining it, i'll use `@turf/boolean-contains` for what I'm trying to do.

[2017-10-23 03:33] DenisCarriere commented on #1036
I actually combined both `contains` + `overlap` to get the final result:

![image](https://user-images.githubusercontent.com/550895/31871303-36a5974c-b781-11e7-89ae-ad41f1c2a594.png)

Only using `contains` gave me this:

![image](https://user-images.githubusercontent.com/550895/31871323-5a7c1fb0-b781-11e7-9f99-876a43bbd0fa.png)

[2017-10-23 05:52] stebogit commented on #1036
I think `contains` + `overlap` is more similar to what you would expect out of this module. Good job! 👍

[2017-10-23 11:00] rowanwins commented on #1036
@DenisCarriere  `boolean-intersect` is probably what is required to get the proper result

[2017-10-23 12:09] DenisCarriere commented on #1036
@rowanwins Agreed, however it's not implemented yet 😄

[2017-10-23 12:26] DenisCarriere commented on #1036
I'm using `@turf/intersect` and it works out pretty good for this scenario.

![image](https://user-images.githubusercontent.com/550895/31888888-c57280d0-b7cb-11e7-80fd-4ab5e190be18.png)

[2017-10-24 08:05] chaucerling opened #1037 "Is there any module to fill a ring polygon ?"
I know the `turf.mask()`  function can make a unmasked polygon to a ring polygon with holes. But conversely, if I want to fill the ring polygon, and get the unmasked polygon, is there any module help me to resolve this problem.

http://geojson.io/#id=gist:anonymous/ae1ca487f5bc83e8e14dac39b2a20c82&map=3/-26.98/130.00

[2017-10-24 10:42] stevage opened #1038 "Voronoi polygons module"
I found that the existing "turf-voronoi" module (https://github.com/Turfjs/turf-voronoi) didn't work at all (and isn't published on NPM), so I made my own: https://www.npmjs.com/package/turf-voronoi-polygons

I'm not really familiar with the contributions model or some of the general thinking, but before I go any further I wanted to check:

- is this something you want in Turf?
- would a wrapper a

[2017-10-24 11:15] rowanwins commented on #1038
Gday @stevage

Yeah I think we'd definitely be interested in incorporating a voronoi polygon style function.

Presuming that d3-voronoi isn't a massive dependency we'd be happy to bring it in (we have used other d3 modules elsewhere successfully so I can't imagine this being a problem).

If you take a look at the[ turf contributing doc](https://github.com/Turfjs/turf/blob/master/CONTRIBUTING.md) w

[2017-10-24 11:20] rowanwins commented on #1037
Hi @chaucerling

If I understand correctly you want to get the shape of the hole and turn it into a polygon, discarding the old outer polygon...

Could you call this `holeToPolygon()`, does that describe what you're trying to do?

[2017-10-24 11:25] chaucerling commented on #1037
@rowanwins, Sorry for my poor English. I just want to get the outer polygon (the ring) combined with the inner polygon (the holes).

[2017-10-24 11:35] rowanwins commented on #1037
Ah so if I understand correctly you want to remove the holes from the polygon. Short answer is no there is nothing available.

If you're just dealing with polygons (and not `MultiPolygons`) you should be able to do something like
[code]
This will leave you will the outer geometry and delete any holes

[2017-10-24 11:51] stevage commented on #1038
Thanks. I'm confused about quite a few things like:

- how does the "turf.mymodule" namespacing happen?
- why does Turf use ES modules, when they aren't supported in Node?
- why does Turf use ES modules, when it doesn't even use ES2015? :)

Can you point to an example of a similar-ish non-core module which I could use as a model?

I think I get what you mean by broader input support (presumably, a

[2017-10-24 12:32] rowanwins commented on #1038
Gday @stevage

Yeah the docs need a bit of updating, there have been a few changes recently

Re the namespacing, we use [lerna](https://lernajs.io/), basically it lets us split our code and publish it as modules, but keep them all in a single repo, very handy for something like turf.

Re ES modules this is a very new change. It enables us to do tree-shaking etc to generate smaller builds. To facil

[2017-10-24 13:46] DenisCarriere commented on #1031
We can pass the same `options` from the grid modules, I've added `mask` for each of them, that might work?

[2017-10-24 14:59] stebogit commented on #1031
Yep, `mask` would definitely work 👍

Now that I look at it we should also rename `cellSize` to `cellSide` as we did in the grid modules

Also, I was wondering why was `clone` introduced in [here](https://github.com/Turfjs/turf/commit/6e97e3043f5b363d487eed626373d3b28425bc2e#diff-cd650bfe6ae7b9c5243511adf496138fR90)
[code]

[2017-10-24 22:52] stevage commented on #1038
Wow, esm. That's...I don't even understand how that can possibly work. Glad to hear that it does though.

Looks like I'm going to learn lots of exciting things about module packaging :) Thanks for the tips, I'll see how I go.

[2017-10-24 23:04] stevage commented on #1038
Btw how massive is massive? d3-voronoi is 44K of unminified source, no non-dev dependencies.

[2017-10-24 23:25] rowanwins commented on #1038
minified d3-voronoi is 9kb so I'm comfortable with that :) It's only if we were pulling in 100's of kb's that we'd be concerned. The module could possibly be made smaller if someone wrote it from scratch but I'm sure that would be a big undertaking so if we can leverage something existing we're all for it!

Yeah the `esm` stuff is pretty new to me, @DenisCarriere has been leading that side of thin

[2017-10-25 14:53] DenisCarriere commented on #1031
Clone was used because it mutates the properties, I'm sure there might be a way to remove the clone.

[code]

[2017-10-25 14:53] DenisCarriere commented on #1031
- Change to `cellSide` 👍
- `mask` works 👍

[2017-10-25 15:16] njriordan commented on #297
I had a similar issue and found that using turf.truncate() on the geometries solved the problem. This might be useful for some people if their geometries currently have an unnecessary level of precision.

[2017-10-25 16:22] DenisCarriere opened #1039 "Proposal: Rename `@turf/clusters` to `@turf/find`"
## Proposal: Rename `@turf/clusters` to `@turf/find`

Someone at SotM mentioned it would be nice to have a `find` module, being able to find features based on properties within a FeatureCollection.

The `getCluster` from [`@turf/clusters`](https://github.com/Turfjs/turf/tree/master/packages/turf-clusters) behaves exactly like that, except `clusters` as a name might not be very obvious for folks.

[2017-10-25 16:35] amenadiel commented on #654
It would sad news indeed. I use unkink polygon to repair the rings that would result from using google.maps directions API. You know, the routes  loop over themselves at several points, so when I try to get the contained surface I have to unkink the resulting polygon, then return the union of the resulting featurecollection.

I used to be able to do this with a buffer, but now it complains about s

[2017-10-25 17:14] DenisCarriere commented on #654
@amenadiel Thanks for your concerns, however this module got fixed by the Author and no longer has issues, we are going to be keeping this module.

Going to close this issue since it's no longer "true"

[2017-10-25 17:14] #654 closed

[2017-10-25 18:30] DenisCarriere commented on #1038
👍 Thanks for answering those questions @rowanwins.

@stevage Lots of new packaging tools in TurfJS, it is a bit overwhelming at first. One day `import` & `export` will be native to NodeJS and we could drop `@std/esm` (for now it's needed).

The `d3-veronoi` module looks awesome! 👍 It's also written in ES Modules, so it would be very easy to implement in Turf.

9kb is perfectly fine, no one should

[2017-10-25 18:37] DenisCarriere commented on #1038
Your proposed module looks pretty straightforward to implement: https://github.com/stevage/turf-voronoi-polygons

Shouldn't take too long to implement.

[2017-10-25 19:18] DenisCarriere commented on #297
👍 Thanks for the update @njriordan , agreed that using `@turf/truncate` or `@turf/clean-coords` might solve some precision level issues.

[2017-10-25 19:25] bulutkartal commented on #788
from a ship captain perspective; distance to polygons parameter would be great. So they can use it for boat/ship routing. They can get the lands as polygons, set a safe distance and create their routes by using this module.

[2017-10-25 20:08] DenisCarriere commented on #788
@bulutkartal 👍 Great feedback, if you have some sample data you'd like to provide for Ship examples, feel free to send a PR with your GeoJSON examples.

You can simply add them to the `turf/packages/turf-shortest-path/test/in` folder.

This module will be published in the next Major release `v5.0`, (very soon 🤞).
https://github.com/Turfjs/turf/pull/956

[2017-10-25 20:12] DenisCarriere commented on #788
The module provides a few Optional parameters.

- `options.obstacles` => Can be used for land
- `options.minDistance` => Can be used for safe distance ( ⚠️ NOT IMPLEMENTED YET)

@stebogit Do you think adding a `minDistance` would be too difficult? This would define the minimum "safe" distance from obstacles.

[2017-10-25 20:23] bulutkartal commented on #788
@DenisCarriere I am really not good on coding, but good with math and maritime industry :) Mine was just an idea to be able to make it useful for maritime industry. [Land polygons](http://openstreetmapdata.com/data/land-polygons) can be implemented on maps and with min safe distance to polygons can be used for marine routing. This way they will be able to set how far their boat/ship will be from t

[2017-10-25 20:39] DenisCarriere commented on #788
👍 What I was proposing wasn't coding, all you need to do is provide test sample data, this is a simple example that @stebogit created:

## test/in
https://github.com/Turfjs/turf/blob/c72d0c3825b9110b552440c6a32531c448058752/packages/turf-shortest-path/test/in/simple.json

[code]

## test/out

https://github.com/Turfjs/turf/blob/c72d0c3825b9110b552440c6a32531c448058752/packages/turf-shortest-path/t

[2017-10-25 21:02] DenisCarriere commented on #788
This module is now published under `@turf/shortest-path`.

A few extra enhancements were noted from some of these comments, will submit a new issue for those.

[2017-10-25 21:02] #788 closed

[2017-10-25 21:03] DenisCarriere opened #1040 "@turf/shortest-path used for maritime industry"
## [`@turf/shortest-path`](https://github.com/Turfjs/turf/tree/master/packages/turf-shortest-path) used for maritime industry

The `shortest-path` module provides a few Optional parameters.

- [x] `options.obstacles` => Can be used for land
- [ ] `options.minDistance` => Can be used for safe distance ( ⚠️ NOT IMPLEMENTED YET)

Ref issue: https://github.com/Turfjs/turf/issues/788 PR: https://github

[2017-10-25 21:06] rowanwins commented on #1039
Hmmm I kind of get the rationale but I think `find` is a bit of an ambiguous name, more ambiguous than `clusters` which at least kind of tells you what it's going to do....

I wonder if we could take some cues from the ArcGIS world, they have a toolset/category called `Spatial Statistics` and then a few tools, probably most similar would be one called [Grouping Analysis](http://pro.arcgis.com/en/p

[2017-10-25 21:10] DenisCarriere commented on #1039
I agree with you @rowanwins.

👎 For my proposal, however we should find some clever names for this `clusters` module, some kind of grouping theme.

Going to keep `@turf/clusters` until we can find a new names for those methods.

[2017-10-25 21:16] bulutkartal commented on #1040
@DenisCarriere here is the test example can be used. basically it is Bermuda Triangle with start and end points are out of it. I also noticed this can be use for aviation as well. so they can set restricted areas for flight, set a min distance and set their flight routes out of those areas with min safe distance. So can be used for different industries as well.

{
    "start": [-60.925, 22.335],

[2017-10-25 21:17] DenisCarriere commented on #1034
Yes we should group these modules into `interpolate` categories that way it's easier to find all the Interpolation modules, I also agree we should add `@turf/tin` in the same category.

Same thing we did for `clusters-kmeans` & `clusters-dbscan`, it's a lot easier and cleaner to make the test cases if the modules have their own repo.

[2017-10-25 21:22] DenisCarriere commented on #1034
@dbauszus-glx Agreed 👍 Feel free to make a PR to Turf with the proposed module, we can discuss more on a PR and work out the details there.

[2017-10-25 23:15] stebogit commented on #1039
👎
I like `cluster` and I think is appropriate 😄

[2017-10-26 03:19] stevage opened #1042 "Document Yarn dependency"
Just tried to run `npm test` but hit an error (unfortunately lost the exact text now) along the lines of yarn not supporting a particular argument (`--no-mutex-something`?) It turns out I had a very old version of Yarn and upgrading it seems to have got me past that.

But there's no mention of Yarn on the CONTRIBUTING page - and indeed, the commands are given as `npm test` etc.

[2017-10-26 10:02] dbauszus-glx commented on #1034
@DenisCarriere I would like to do this after I finish my current project. I will need to learn more about the specifics of the turf structure as a whole. For example, I have never used roll-up since I am using webpack in my projects.

[2017-10-26 11:23] xiongjiabin opened #1044 "If numberOfSegments is integer, no need to plus 1 in line-chunk"
if the line length is 100, and segment length is 10, the number of segments is just 10, no need to plus 1, otherwise will throw an exception later.  The right code works.

![image](https://user-images.githubusercontent.com/1040542/32050280-d2e6db3e-ba15-11e7-918f-54d7839b4a6e.png)

[2017-10-26 16:20] DenisCarriere commented on #1039
lol! Fine then! I'll just close this Issue since we all agree on that name, just figure I'd bounce the idea around.

[2017-10-26 16:20] #1039 closed

[2017-10-26 16:55] DenisCarriere commented on #1042
🤔 I'm pretty sure things should work using `yarn` or `npm`, one tricky thing that might not be mentioned is the use of `lerna bootstrap` when editing multiple modules that are not yet published.

Since we haven't completely published all `v5.0` modules, some of the modules are outdated when you `npm install`, after that you need to create symbolic links between them by using `lerna bootstrap`.

👍

[2017-10-27 04:27] stevage commented on #1038
Whew. That was intense. So many undocumented and confusing steps for contributing a module, but really appreciated the help.

Some things I ran into, before I forget:

- The combination of lerna, yarn, ES modules adds quite a bit of overhead.  A brief description of the role of each would be helpful. Even knowing how to run an ES-modulified file in Node (`require ('@std/esm')`) was a bit of fumbli

[2017-10-27 04:29] DenisCarriere commented on #1038
lol Agreed @stevage That would be a good PR 😉

[2017-10-27 04:30] DenisCarriere commented on #1038
The creation of a new module needs to have it's own checklist, and we recently revamped the entire code base to ES Modules, so some things are definitely outdated.

Once you've got 1 module in, the other ones aren't too bad... 😄

[2017-10-27 04:33] DenisCarriere commented on #1038
Well... their documented by having the tests fail endlessly, that way we can catch everything until the TravisCI tests finally pass.

Before the tests passed often, however things got missed like modules not being published or methods not being exposed, or files missing from the published repo.

[2017-10-27 04:44] DenisCarriere commented on #1034
@dbauszus-glx No worries, take your time. Thanks for taking the time to contribute and feel free to ask any questions if you are unsure about something. Hopefully we can update our CONTRIBUTING guide a bit more with all the latest things to do for new modules, it's currently a bit outdated.

[2017-10-28 08:05] dhivehi opened #1048 "Question: how to get 1st intersected element"
Given a straight line passing though some polygons, is there any turf function to find the 1st crossed (intersected) polygon?

[2017-10-28 16:19] ErrorStuff opened #1049 "turf.js errors when running in node"
Hello and thankyou for the awesome engine!

when i try to run the example from turf/turf-isobands i got several Errors:
This line:
`var pointGrid = turf.pointGrid(extent, cellWidth, {units: 'miles'});`
throws this: "Error: units is invalid".

Changing it to
`var pointGrid = turf.pointGrid(extent, cellWidth, 'miles');`
solves the issue. But when calling the turf.isobands() function the following Er

[2017-10-28 18:24] bluepup opened #1050 "polygonTangents gives Error "No coordinates passed""
I'm not sure if there is something invalid in the coordinates of my Polygon, it seems OK.
With the following code I get "No coordinates passed" in Firefox 52.4.0 and newest  minified file from npmcdn. Even with successfully truncated coordinates (turf.truncate) the same error occurs in polygonTangents.

[code]

[turftangenttsError.txt](https://github.com/Turfjs/turf/files/1424514/turftangenttsErro

[2017-10-29 08:29] rowanwins commented on #1049
HI @ErrorStuff

Unfortunately we're in an transition to v5 which see some syntax change, some modules have been changes and other have not. Fingers crossed this will all be resolved in the next week or so so please bare with us...

Cheers

[2017-10-29 08:35] rowanwins commented on #1048
Hi @dhivehi

There is nothing available at the moment unfortunantly, depending on the exact requirements you could possibly cycle through a feature collections with `turf/boolean-intersects`

[2017-10-29 09:52] ErrorStuff commented on #1049
Hi rowanwins and thanks for your reply. I assumed something like this, which is the reason why i started this issue. Is it possible to use an older version of turf? There are only two function i need to use, interpolate and isobands.

thx

[2017-10-29 09:57] rowanwins commented on #1049
Depending on how you're incoporating turf you could either

In the browser you could target a specific version using npmcdn eg
`https://unpkg.com/@turf/turf@4.7.3/index.js`

or similar for installing a node pacakge you could do
`npm install @turf/interpolate@4.7.3`

Hope that helps

[2017-10-29 10:08] ErrorStuff commented on #1049
Thanks man, one last wuestion. I want to use it via node but i'am not sure which version to use. The cangelog.md in the repo ends with 3.6.4. Can you suggest a version or should i just try?

[2017-10-29 10:10] rowanwins commented on #1049
I think v4.7.1 should be safe from any of the breaking changes so perhaps give that a whirl

[2017-10-29 10:45] ErrorStuff commented on #1049
I tried all versions listest by npm view @turf/isobands and the same error occurs. For version 4.5.2 and older the error is different:

[code]
Seems like I have to wait.

[2017-10-29 16:11] DenisCarriere commented on #1048
@rowanwins `@turf/boolean-intersect` doesn't exist yet ;) lol

We could... add a custom property `intersectIndex` to each feature in the `FeatureCollection<Point>` when `@turf/line-intersect`.

[2017-10-29 16:14] DenisCarriere commented on #1049
@ErrorStuff As for the changelog, we've been maintaining the new releases here:
https://github.com/Turfjs/turf/tree/master/releases

Also you can look at the new releases via the Issues:
https://github.com/Turfjs/turf/issues?q=is%3Aissue+label%3Arelease+is%3Aclosed

[2017-10-29 16:15] DenisCarriere commented on #1049
😢 Unfortunately we are in transition period, hopefully I can publish `v5.0` for all npm modules (except for `@turf/turf`).

[2017-10-29 17:33] DenisCarriere commented on #1050
Thanks @bluepup for reporting this issue, your input data seems correct.

I've created a PR with the sample data you provided, maybe @rowanwins will have a better idea what the issue is.

[2017-10-29 19:15] DenisCarriere opened #1053 "Support Spherical Voronoi"
# Support Spherical Voronoi

Based on comments from https://github.com/Turfjs/turf/pull/1043#issuecomment-339991174, switching `@turf/voronoi` to a spherical approach would better suited for GeoJSON data.

Based on the below example, leverage the use of [`DelaunayTriangles.js`](http://lpetrich.org/Science/GeometryDemo/DelaunayTriangles.js).

http://lpetrich.org/Science/GeometryDemo/GeometryDemo_GM

[2017-10-29 19:33] DenisCarriere commented on #887
Implemented

[2017-10-29 19:33] #887 closed

[2017-10-30 00:19] stevage commented on #1042
I wonder if [this line](https://github.com/Turfjs/turf/blob/e6d22597e0330faa60d93de88a5be41ccf393e70/lerna.json#L3) is the reason that yarn got called (and failed...)? Maybe it would build ok with either no yarn, or recent yarn, but not old yarn.

[2017-10-30 00:57] DenisCarriere commented on #1042
Oh maybe that's the reason... building `lerna` with `yarn` is needed to have a fast dev environment with shared dependencies.

Old yarn might definitely fail.

[2017-10-30 04:52] rowanwins commented on #785
Ok @dhivehi

So I've done a bit of digging. It looks like the fix I previously applied broke the module for other cases, and the previous implementation was more accurate.

It looks like there is a more fundamental problem with the algorithm when your input point is inside the concave hull of the polygon and lower than the first segment. My head is still grappling with the maths but I'll see what

[2017-10-30 06:57] DenisCarriere commented on #785
Interesting... I'm good with reverting it back 👍 The more test cases we have the more robust the library will become.

[2017-10-30 07:11] stebogit commented on #1049
😢

[2017-10-30 09:32] caopeng000 commented on #594
Is there a java sdk api?turf.mask(polygon); thanks

[2017-10-30 09:53] rowanwins commented on #594
Hi @caopeng000

Turf is a javascript based project, a number of attempts have been made to port Turf to other languages such as Swift. But I haven't heard of anything java based.

[2017-10-30 09:55] rowanwins commented on #785
[This page](http://geomalgorithms.com/a15-_tangents.html) (where the orig implementation came from) also lists a sweepline approach, apparently this is faster but Im not sure if it'll produce different results.

[2017-10-30 10:18] caopeng000 commented on #594
https://github.com/mapbox/mapbox-java/blob/master/mapbox/libjava-services/src/main/java/com/mapbox/services/api/utils/turf/TurfJoins.java

[2017-10-30 10:19] caopeng000 commented on #594
turf other api have, but mask this method is missing

[2017-10-30 10:47] rowanwins commented on #594
Hi @caopeng000

The project you reference is maintained by Mapbox, you'll need to open an issue in that repo.

[2017-10-30 14:29] lamuertepeluda opened #1059 "Unespected scale behavior for large areas that intersect WGS84 boundaries"
I tried to double the bounding box of Europe using turf and I get this weird result:

- Gist: https://gist.github.com/anonymous/5c524c6f302d07ba32674f7b7f2420d0
- Code to reproduce:

[code]

The gist is quite self-explanatory.
The wrong result of transformScale clearly affects everything else. What I don't get is why it warps the resulting rectangle, extending its northern side much more than twic

[2017-10-30 15:39] DenisCarriere commented on #1059
👍 Definitely a bug 🐛 !

![image](https://user-images.githubusercontent.com/550895/32179903-ebcb0798-bd66-11e7-93af-7d594c56bfa3.png)

CC: @stebogit Any thoughts?

[2017-10-30 15:41] DenisCarriere commented on #1059
**1.5 scale factor** does the following:

![image](https://user-images.githubusercontent.com/550895/32180055-526720ae-bd67-11e7-99e0-3b4fb1c0089f.png)

[2017-10-30 16:05] DenisCarriere opened #1061 "Points/LineStrings/Polygons method proposal to @turf/helpers"
## Points/LineStrings/Polygons method proposal to `@turf/helpers`

When attempting to create FeatureCollections of Points or any Geometry it seemed like there was "too much" lines of code for this type of basic need. We use this type of syntax a lot in the JSDocs to define 3 points or 3 lines.

Pretty straightforward to use, it would act similar to `helpers.point()` except one Array higher by addi

[2017-10-30 16:06] stebogit commented on #1059
I was just looking at this and I believe it's mainly due to the WGS84 projection. Also in this case, [like for grids](https://github.com/Turfjs/turf/pull/1029#issuecomment-337482857), we should probably work with Mercator. Why it's inverting the vertices I don't know right now.

I guess we could have an optional `projection='wgs84'|'meractor'` parameter allowing the user to decide (mainly in the b

[2017-10-30 20:05] DenisCarriere commented on #1059
👍 @stebogit Yep definitely a projection issue, we can default to Mercator and have an option to preserve the transformation in WGS84.

We tackle this issue for Turf v5.1+

[2017-10-30 20:42] DenisCarriere commented on #860
What about this one too?
- [ ] `convertDistance` => `convertLength`

[2017-10-31 00:30] caopeng000 commented on #594
ok,thanks

[2017-10-31 06:32] stebogit commented on #1061
@DenisCarriere great idea! 👏

[2017-10-31 11:44] StevanCakic opened #1063 "[Question]Bezier curve returns wrong data"
Hi,

I have a problem with returning the result for bezier curve function.

PointFormat: [lng, lat] and for example for those points(this line) bezier function doesn't return correct result

StartP: [139.7731286197, 35.6669502038]
DestinationP: [-122.419, 37.7749]

When I call bezier(line, 10000, 1) I get this:
[139.7731286197, 35.6669502038]
[139.7723425676984, 35.66695652343349]
[139.76998650923

[2017-10-31 14:32] stebogit commented on #860
👍  @DenisCarriere

[2017-10-31 14:56] stebogit commented on #860
@DenisCarriere maybe also
- [ ] `point-on-surface` => `point-on-feature` -> technically Points and Lines do not have a surface
- [ ] `linestring-to-polygon` => `line-to-polygon` -> to keep it consistent with the other "line" modules

[2017-10-31 15:00] DenisCarriere commented on #860
👍 I like those two mores, i'll do those now.

[2017-10-31 15:02] DenisCarriere commented on #860
also the reverse:

- [ ] `polygon-to-linestring`  => `polygon-to-line`

[2017-10-31 15:05] DenisCarriere commented on #860
Also dropping the `string` part of those modules makes it less confusion to add a Capital `S` or lowercase `s`.

`lineStringToPolygon` vs. `linestringToPolygon`

[2017-10-31 15:35] DenisCarriere commented on #860
Going to refactor `point-on-surface` (`point-on-feature`) a bit before renaming it.

[2017-10-31 16:08] DenisCarriere opened #1065 "# ❌ 👎 Extend `@turf/helpers` `featureCollection` proposal"
# ❌ 👎 Extend `@turf/helpers` `featureCollection` proposal

Noticed this handy method from `@turf/point-on-surface` which converts any GeoJSON `FeatureCollection`, `Feature` or `Geometry` => `FeatureCollection`.

This should be simple enough to extend the existing `featureCollection()` method from `@turf/helpers` to support this.

## Source Code

[code]

[2017-10-31 16:13] DenisCarriere opened #1066 "New module proposal - @turf/point-on-segment"
## New module proposal - `@turf/point-on-segment`

Also pulled from `@turf/point-on-surface`, given the increasing amount of `segment` (line composed of 2 vertices) operations we are conducting, might be worth creating modules for line segments.

## Source Code

[code]

[2017-10-31 16:29] dhivehi opened #1067 "Requesting to accept features other than polyon for turf.difference"
Given a line and polygon which intersects, i would like to remove the polygon intersecting area from the line.
Example: turf.difference(line, polygon)
But turf doesnt seem to accept a line as input parameter.

[2017-10-31 17:09] DenisCarriere commented on #1067
As for the `@turf/difference` module, Turf does not throw any errors on LineString, however the difference module uses `jsts` which does not support LineString + Polygon difference operation. Maybe we could add a different JSTS Operation, currently it's using `OverlayOp`

[2017-10-31 18:05] DenisCarriere commented on #1063
This is mostly an issue with the GeoJSON specification and you'd have to "hack" your way around the 180th Meridian, @tmcw explains the issue well in his blog ["More than you ever wanted to know about GeoJSON"](https://macwright.org/2015/03/23/geojson-second-bite#the-180th-meridian).

Have you tried defining your input with +180 longitudes, example:

-219.375
- **StartP**: `[139.7731286197, 35.6669

[2017-11-01 07:01] #1037 closed

[2017-11-01 08:32] rowanwins commented on #1065
Could we simply extend the existing `featureCollection` method to accept geometries rather than creating a new method?
Can still kinda see the benefit of this method although not sure I'd call it `normalize` as that has some statistical conotations, perhaps `standardize` might be better...?

[2017-11-01 08:33] rowanwins commented on #1066
We'e already got `boolean-point-on-line` so this might be redundant. Might however be worth comparing methods to see if either is faster...

[2017-11-01 10:38] StevanCakic commented on #1063
Yea, this works, so cool. Thanks a lot

[2017-11-01 14:08] #1063 closed

[2017-11-01 14:22] DenisCarriere commented on #1065
Actually extending the `featureCollection` sounds like a better idea.

I guess the 3 valid inputs would be `Feature` | `FeatureCollection` | `Geometry` given in the Array.

[2017-11-01 14:34] stebogit commented on #1065
Cool! :+1:

[2017-11-01 15:16] ssdhaliwal opened #1070 "point-grid not accepting units as option"
var boxExtent = [mapExtent.bounds.southWest.lon, mapExtent.bounds.southWest.lat,
    mapExtent.bounds.northEast.lon, mapExtent.bounds.northEast.lat];
  var cellSide = 200;
  var options = {units: 'miles'};

  var bboxPoints = turf.pointGrid(boxExtent, cellSide, options);

 when above statement is executed; following error is received Error: units is invalid  turf.min.js:1:13886;

don't see the pac

[2017-11-01 16:58] DenisCarriere commented on #1070
Unfortunately we haven't published the newest `v5.0` build with the options param to `@turf/turf` (web bundle).

At the moment I'm pushing out the v5.0 for all the grid modules, try again in an hour or so.

[2017-11-01 17:16] DenisCarriere commented on #1065
Also this won't "break" any backwards compatibility, just extending it.

[2017-11-01 18:04] DenisCarriere commented on #1066
👍 Oh yea, I forgot we implemented that in `boolean-point-on-line`, comparing both of them would be a good idea.

[2017-11-01 18:22] DenisCarriere commented on #1066
Actually I just did a Benchmark comparison with yours and the above `pointOnSegment` and yours is **10x** faster.. pretty hard to beat...

**current**

[code]

**pointOnSegment**

[code]

I'll close that since it's already implemented in yours 👍 Good job @rowanwins 😄

[2017-11-01 18:22] #1066 closed

[2017-11-01 18:36] greenkeeper[bot] opened #1071 "An in-range update of lerna is breaking the build 🚨"
## Version **2.5.0** of [lerna](https://github.com/lerna/lerna) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Turfjs/turf/compare/greenkeeper%2Flerna-2.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lerna
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    <

[2017-11-01 21:13] ssdhaliwal commented on #1070
thanks for update; another item - i am working on it; point-grid does not work when co-ordinates cross meridian.  should i track and work on this as a separate issue?

[2017-11-01 23:00] #1071 closed

[2017-11-01 23:03] rowanwins commented on #1071
pfffhh what would greenkeep bot know :)

[2017-11-01 23:20] DenisCarriere commented on #1070
A separate issue would be good for that new topic. 👍

[2017-11-02 01:46] amenadiel commented on #1037
Actually you could do it with multipolígons too by playing with CCW and using the ring directions to determine they are holes.

[2017-11-03 00:09] DenisCarriere opened #1073 "Testing v5.0 Web ES5 Bundle before release"
## Testing v5.0 Web ES5 Bundle before release

I've made some progress on bundling the entire `@turf/turf` library using only Browserify (since all dependencies are pure ES5).

The current bundle was created using the `master` branch and I'd be ready to publish the newest release once a few other people have confirmed it works on their end.

## Browserify + Uglify

The Web bundle is the same as v4

[2017-11-03 02:00] rowanwins commented on #1073
Thanks @DenisCarriere , I'll take a look at this over the weekend and try and test it with the new docs. Sounds like it's been a prickly one to navigate (although it wouldn't be fun if it was too easy!).

[2017-11-03 02:12] DenisCarriere commented on #1073
👍 Thanks @rowanwins It's definitely been prickly, but I think we've cracked it now (finally 😓).

[2017-11-03 08:21] alasarr opened #1074 "Check intersection without finding the intersection"
Hello!

I'd like check if two polygons intersects. Right now I'm using http://turfjs.org/docs/#intersect, I'm not interesting in the resulting intersection geometry, so I'm wondering if there is another method to check intersection between polygons without calculating the intersection.

[2017-11-03 08:43] alasarr commented on #1074
I see it can be done using http://turfjs.org/docs/#booleandisjoint

[2017-11-03 08:43] #1074 closed

[2017-11-03 20:07] skaletech commented on #580
We've added a function that may be of interest based on the original Turf-cut found here: https://github.com/Turfjs/turf-cut

Here it is: https://github.com/skaletech/turf-cut

It works by creating a small buffer around the linestring, then calling turf.difference, then zipping points near the line to the line, then filtering out duplicate lines.  This may not work for every use case, but it works

[2017-11-04 17:27] haoliangyu opened #1075 "lineSplit seems unable to handle splitter points with nearly the same longitude"
I run into an edge case where two points with nearly the same longitude breaks `lineSplit()` (in turf v4.7.3). The coordinates are collected via GPS and the longitude difference is only 0.000001. You can see the geometry in this [Gist](https://gist.github.com/anonymous/eb6cced53f090033e11db9485d823aec).

When I try to split a line with these two points,

[code]

they break `lineSplit()` and throw

[2017-11-05 10:14] rowanwins commented on #1073
Woot woot - looking good from my testing so far!

[2017-11-05 16:33] DenisCarriere commented on #580
@skaletech Cool work! Seems like a nice hack around the solution, unfortunately I don't think we would adopt this approach for the Polygon Slice, but it's very cool to see that this works for your use case. 👍

[2017-11-05 19:31] DenisCarriere commented on #1075
@haoliangyu See PR https://github.com/Turfjs/turf/pull/1078

[2017-11-05 19:32] DenisCarriere commented on #1075
This definitely caused some issue 👍 thanks for reporting this.

[2017-11-05 21:34] haoliangyu commented on #1075
@DenisCarriere Thanks for the quick fix!

In your PR, moving the point on the line is mentioned as a fixture. Can I consider it as a reliable way to avoid this issue for now and use `turf.pointOnLine()` to process the splitter beforehand?

[2017-11-06 04:44] DenisCarriere commented on #1075
👍 Yep that might be a good idea to use as the splitter since the `lineSplit` is fairly strict for position. Most of the applications do "snapping" which causes the point or cursor to snap on the line which then makes the splitter point exactly on the line.

Going to close this issue, however feel free to re-open or submit more fixtures that are failing.

[2017-11-06 04:44] #1075 closed

[2017-11-06 05:01] DenisCarriere commented on #1073
👍 Sweet! Ok I'll push out the full `v5.0` release whenever I have 2-3 hours free, that way if all hell breaks I have some time to fix it right away.

Thanks @rowanwins for looking into this.

[2017-11-06 05:02] #1008 closed

[2017-11-06 10:48] jaapster commented on #110
Hi, any progress on this issue? I too get the oval and if I measure the radii from the center of the oval, it is clear that this buffer is not calculated correctly. Different distance in NS direction compared to SW direction.

[2017-11-06 10:49] jaapster commented on #801
How do you guys get this circle? Turf returns an oval when I use buffer.

[2017-11-06 13:05] DenisCarriere commented on #801
Which version of turf are you using?

[2017-11-06 13:08] jaapster commented on #801
@DenisCarriere package.json version is 3.14.3

[2017-11-06 13:14] DenisCarriere commented on #801
Yep that will help, I think the buffet got fixed in 4.5 or so

[2017-11-06 13:20] jaapster commented on #801
@DenisCarriere Is there any documentation on how to import turf? I updated to he latest version and import turf from '@turf/turf' gets me 'undefined' now.

[2017-11-06 14:18] skaletech commented on #580
Yep, we needed to allow for multiple line segments and self intersection.

[2017-11-07 08:14] jaapster commented on #933
In this picture I created a lineOffset of 10 meters and a buffer of 10 meters based on Tenison Ave.

It seems that the lineOffset is incorrect (skewed)

![screen shot 2017-11-07 at 09 12 14](https://user-images.githubusercontent.com/1597572/32483350-f2047d02-c39b-11e7-8ee4-b2ea73613138.png)

[2017-11-07 08:27] jaapster commented on #801
@DenisCarriere Yes, that solved it, thanks!

[2017-11-07 21:38] rowanwins commented on #933
Hi @jaapster

Unfortunately buffer and offset algorithms aren't as simple as they seem. If you run the same buffer using a variety of tools (eg QGIS vs shapely vs ArcMap) all the outputs will differ slightly.

That said the lineOffset module was just my hack together so there may well be better ways to do it, we've already identified a few shortfalls that Im trying to rectify.

Cheers

[2017-11-08 05:46] stebogit commented on #860
All done with https://github.com/Turfjs/turf/pull/1064

[2017-11-08 05:46] #860 closed

[2017-11-08 05:48] stebogit commented on #994
Reworked via #995

[2017-11-08 05:48] #994 closed

[2017-11-08 05:53] stebogit commented on #684
- `lengthToDegrees`, `lengthToRadians` and `radiansToLength` renamed in #1055
- `earthRadius` converted with #1012

[2017-11-08 05:53] #684 closed

[2017-11-08 05:59] stebogit commented on #460
`cellSide` renamed in #1019, now the input clearly defines the side of the generated grid (for all grid modules, see #1029)

[2017-11-08 05:59] #460 closed

[2017-11-08 06:02] stebogit commented on #1019
All done in #1029

[2017-11-08 06:02] #1019 closed

[2017-11-09 12:40] trygve-lie opened #1081 "@turf/buffer 5.0.0 throws with "helpers.lengthToRadians is not a function" Error"
When using turf/buffer 5.0.0:

[code]

it throws with:

[code]

[2017-11-09 18:37] DenisCarriere commented on #1081
Just published `v5.0` so this should be fixed now.

Try installing `v5.0.4` of `@turf/buffer`

[2017-11-09 18:37] #1081 closed

[2017-11-09 19:11] DenisCarriere commented on #1070
v5.0 has been published, point-grid should now accept units as options.

[2017-11-09 19:11] #1070 closed

[2017-11-09 19:11] #1073 closed

[2017-11-09 19:11] DenisCarriere commented on #962
v5.0 is now published

[2017-11-09 19:11] #962 closed

[2017-11-09 19:16] DenisCarriere opened #1082 "New major release! Turf 5.0 🎉"
# New major release! Turf 5.0 🎉

TurfJS releases are being tracked using [Milestones](https://github.com/Turfjs/turf/milestone/4?closed=1).

## Contributors

- @DenisCarriere
- @rowanwins
- @stebogit
- @stevage

## ⭐️ Major Updates

- TurfJS now supports ES Modules ([Related PR's](https://github.com/Turfjs/turf/pulls?q=is%3Apr+modules+is%3Aclosed+label%3Aes-module))
- Optional parameters are now d

[2017-11-09 19:36] stebogit commented on #1082
Hooray! 🍻 🎉 😃

[2017-11-09 20:01] ka7eh commented on #1082
Shouldn't these go into [CHANGELOG.md](https://github.com/Turfjs/turf/blob/master/CHANGELOG.md) too? I noticed it hasn't been updated for ages.

[2017-11-09 21:10] DenisCarriere commented on #1082
@ka7eh Agreed, we've been pushing the release changelogs here, we might want to merge those into the CHANGELOG.md file as well.

https://github.com/Turfjs/turf/tree/master/releases

[2017-11-10 03:08] brambow opened #1083 "@turf/helpers' does not contain an export named 'radiansToLength'."
npm install of @turf/buffer today gives me the above error.

Looking at the helpers package in my node-modules folder, it is using radiansToDistance.  However, on github the current code is using radiansToLength.  Has the npm package been updated recently?

[2017-11-10 03:14] #1083 closed

[2017-11-10 04:55] dhivehi commented on #70
Hope this might be helpful: http://viglino.github.io/ol3-ext/examples/map.geom.cspline.html

[2017-11-10 05:45] DenisCarriere commented on #70
👍 Very cool example @dhivehi Thanks for sharing

[2017-11-10 11:29] jpoynton opened #1084 "Isobands creating overlapping bands [5.0.4]"
Isobands has produced overlapping bands/polygons using 5.0.4

See https://jsfiddle.net/jpoynton/wmsx4y2e/ for example. Points in the example are colour coded so that green meet criteria for first break and purple meet criteria for second break with red being outside the breaks.

[2017-11-10 14:30] amenadiel opened #1085 "Proof of concept: Visvalingam Whyatt Simplification"
I know `turf.simplify` uses `simplify-js` under the cover, which in turn uses Douglas-Peucker simplification algorithm.

Inspired by the approach taken by [Matt Bloch](http://maps.grammata.com/) (author of  [MapShaper](http://mapshaper.com/)) I made a little proof of concept for a simplification approach using Visvalingam Whyatt algorithm (as explained in [this Mike Bostock's article](https://bost

[2017-11-10 14:52] DenisCarriere commented on #1085
👍 Very cool!

Instead of a creating an entirely new module, couldn't we just add `algorithm` as an optional parameter in `options` which would default to `douglas-peucker`. That way the user can easily toggle back and forth by simply changing one parameter.

![image](https://user-images.githubusercontent.com/550895/32663617-99fe68f8-c5fc-11e7-9bb4-1a2bc175e9b4.png)

[2017-11-10 14:58] amenadiel commented on #1085
Yeah, that would be the sanest approach, since `turf.simplify` already does geometry decomposition to apply the simplification to the underlying rings/arcs of geometries you feed it.

[2017-11-10 15:06] DenisCarriere commented on #1085
👍 Sounds like a good idea! Looking forward to seeing this implemented 😄

[2017-11-10 17:19] ttaranov opened #1086 "webpack uglifyjs plugin fails with "Unexpected token name" for new @turf dependencies"
While upgrading our dependencies/build to new @turf version 5.0.4, I couldn't get passed error below.

ERROR in vendor.e9be95037a86de0670cd.js from UglifyJs
Unexpected token name «key», expected punc «;» [vendor.e9be95037a86de0670cd.js:206,11]

As soon as I revert code/package.json changes back to turf@3.0.14, webpack's webpack.optimize.UglifyJsPlugin works ok. Our project doesn't use typescript.

[2017-11-10 17:24] DenisCarriere commented on #1086
This doesn't sound like a TypeScript issue but an ES5 compatible code, which version of Uglify are you using? The current Turf build uses Browerify + Uglify.

What's your webpack config, we can try it in Turf

[2017-11-10 17:35] ttaranov commented on #1086
unfortunately our webpack config is a bit complex to share, although I'll try to put something isolated together.

below are some relevant parts from config that I think are relevant:

plugins: [
    new webpack.optimize.UglifyJsPlugin({
    compress: {
      warnings: false
    }
}),

loaders:
    {
      test: /\.(js|jsx)$/,
      include: babelSources,
      loader: 'babel-loader'
    }

and .b

[2017-11-10 17:54] stebogit commented on #1084
@jpoynton this is an interesting case, indeed it seems the MarchingSquare algorithm is failing to map the correct intermediate contours.
I know it might have some issue sometime but this is a new one. I'll look into it as soon as I can find some time, hopefully this weekend.

Out of curiosity, have you tried with a previous version of Turf?

[2017-11-10 20:30] jpoynton commented on #1084
@stebogit have observed similar in 4.7.x with similar but different data. As I was just starting out with Turf thought it was my issue with wrong grid cell size I sampled at, so changed the grid size and made the issue go away.

[2017-11-10 21:10] stebogit commented on #1084
That's even more interesting @jpoynton. Would you please post the data not showing the issue so I can test it?
Glad you found a workaround.

[2017-11-10 21:55] jpoynton commented on #1084
@stebogit - increased the grid size from 0.25 mile to 0.5 mile and the polygons are fine  - https://jsfiddle.net/jpoynton/wmsx4y2e/2/. For fun also reduced grid to 0.1 mile - https://jsfiddle.net/jpoynton/wmsx4y2e/3/

[2017-11-11 05:42] rowanwins commented on #1085
I've used a VW library in the past with python with great results. And love the approach of including it via the existing module via the options (one of the great benefits of going to this module approach)

[2017-11-11 22:20] #1082 closed

[2017-11-15 00:53] knutole opened #1090 "How to install and use toWgs84"
- `npm install @turf/turf` yields `TypeError: turf.toWgs84 is not a function`.
- `npm install @turf/projection` yields `TypeError: turf.toWgs84 is not a function` and does not seem to even add `turf-projection` folder in node_modules.

How can one install and use the `.toWgs84` module?

[2017-11-15 08:37] knutole commented on #1090
Ended up having to do this:
`npm install @turf/turf` 

[code]

[2017-11-15 08:37] #1090 closed

[2017-11-15 08:48] IgorVanian opened #1091 "import turf from '@turf/turf' - turf is undefined"
Hi,

Since 5.0 update, using `import turf from '@turf/turf'` doesn't work. Says it's undefined.

[2017-11-15 09:46] IgorVanian commented on #1091
OK so after 5.0 it works as `import * as turf from '@turf/turf'`

[2017-11-15 09:50] rowanwins commented on #1091
Thanks for that @IgorVanian , I'll add something to our docs. Currently the docs are geared towards using turf via the old built version however it would be nice to make it a bit more obvious how to use it via ES6.

[2017-11-15 09:59] rowanwins opened #1092 "coordEach indexing bug"
I noticed this evening that when using `coordEach` that it doesn't really deal with holes properly.

So for example I pass in a poly with a hole like
[code]
if I do something like
[code]
I get
[code]
So the hole get's the same featureIndex and featureSubIndex as the rest of the poly which means I can't detect that the coord belongs to a hole.

Would be great to add some polys with holes to the tes

[2017-11-15 10:02] rowanwins commented on #1086
Hi @ttaranov

Can you take a look at this [issue](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/78), perhaps upgrading your version of the uglify-webpack-plugin will help...

[2017-11-15 20:09] polizz opened #1094 "@turf/kinks and @turf/unkink-polygon"
The kinks package detects self-intersection in the following shape: https://gist.github.com/polizz/53bfb5d8cd0e7cac09ae6543e1c89528. When I run the shape through unkink-polygon, I get the same shape back out. Not sure what is wrong here. The unkink-polygon function does work on other self-intersecting polygons. Let me know if I can provide more information.

[code]

[2017-11-16 01:18] muziejus opened #1095 "Null property crashes @turf/clone"
Please provide the following when reporting an issue:

- [x] GeoJSON data as a [gist file](https://gist.github.com/) or [geojson.io](http://geojson.io/) (filename extension must be `.geojson`).
- [ ] Snippet of source code or for complex examples use [jsfiddle](https://jsfiddle.net/).

gist: https://gist.github.com/muziejus/57fb53d18df7d0a5a8dc4e180725ef70

`null` is an allowable value in the [JSO

[2017-11-17 02:34] #1095 closed

[2017-11-17 05:53] DenisCarriere commented on #1092
👍 Agreed, I've added a 3rd index (`geometryIndex`) which indicates the index when iterating over the geometry (used in Polygon & MultiPolygon geometries).

There are 3 major index tiers which are broken down like so:
-  `featureIndex` => `multiFeatureIndex` => `geometryIndex`

Using those 3 indexes you should be able to find your way back to the exact geometry part of the feature.

[code]

@rowanw

[2017-11-17 07:50] rowanwins commented on #1092
Thanks @DenisCarriere yeah I thought we meet need a new level. I'll try and get smooth close off this weekend which enable me to test it

[2017-11-17 08:04] DenisCarriere commented on #1094
@rowanwins I had to refactor `simplepolygon` and I internalized the library into Turf to get the build to pass. Maybe it was something in the refactoring?

https://github.com/Turfjs/turf/blob/master/packages/turf-unkink-polygon/lib/simplepolygon.js
https://github.com/Turfjs/turf/blob/master/packages/turf-unkink-polygon/lib/geojson-polygon-self-intersections.js

Might be worth re-including `simplep

[2017-11-17 08:15] DenisCarriere commented on #1094
👍 Just confirmed that this is a bug 🐛

I'll send a PR with the test case included, we can investigate this more on the PR.

[2017-11-17 08:21] DenisCarriere commented on #1094
@rowanwins Darn... 🤕  I tried replacing `simplepolygon` with the upstream npm version and it still didn't fix the issue... at least it's not the refactored code the issue.

[2017-11-17 08:24] DenisCarriere commented on #1086
Going to close this issue since this seems related to a personal build/config issue and not so much related to TurfJS.

If there is something in our publishing that needs to be fixed, feel free to send a PR or a fix proposal.

We are using Browserify + Uglify to publish the final web bundle.

https://github.com/Turfjs/turf/blob/master/packages/turf/package.json#L20-L21

And Rollup for our CommonJS

[2017-11-17 08:29] DenisCarriere commented on #1091
👍 Thanks for the heads up, I think this can be solved via docs, unfortunately we won't be supporting mixing named and default exports since it's not recommended by Rollup to do such a thing.

We will leave this issue opened until the docs are updated 😉

[2017-11-17 16:10] polizz commented on #1094
I don't know if it helps, but I was researching simplepolygon's issue list. There was an [old issue](https://github.com/mclaeysb/simplepolygon/issues/7) where it was stated that a very vertical line tripped up it's self-intersection detection. The test shape I provided has just such a line.

[2017-11-17 18:34] DenisCarriere commented on #1092
👍 Sounds like a plan!

I think the NEXT major release we can re-organize those optional indexes using an Object.

Something like this =>

[code]

Which allows to do some cool deconstructing like this =>

[code]

This would allow us to retrieve any index without "guessing" the parameter position.

[2017-11-17 18:41] DenisCarriere opened #1099 "⚠️ Convert @turf/meta indexes callback params to Objects"
## Convert `@turf/meta` indexes callback params to Objects

The NEXT major release we should re-organize the index callbacks using an `Object`.

**Background:** These indexes have been added to retrace the exact feature/geometry position of the provided GeoJSON.

## Before

[code]

## Proposed

Something like this =>

[code]

Which allows to do some cool deconstructing like this =>

[code]

This w

[2017-11-17 19:15] DenisCarriere commented on #1094
🤔 ... Don't know what could solve that, maybe you can submit your test case to simplepolygon to have them fix it upstream and we can use it in Turf.

[2017-11-18 19:22] dabajabaza opened #1101 "@turf/nearest-point - explanation needed"
I use **turf-nearest-point** on array of geojson points for finding N nearest points. But it does not work as expected.  [Here is the piece of code and map with all necessary data](https://codepen.io/ckpunmep/pen/GOyWLQ).
Red dots are points that **turf-nearest-point** found as nearest to my start point (the green one).
Just visually the points 4 and 5 are nearer to point 1 than the point 2 and 3

[2017-11-18 21:08] DenisCarriere commented on #1101
Very interesting.. this type of bug/issue sounds like the issue would fall in the distance calculation method, at the moment `@turf/nearest-point` is using `@turf/distance` to do those calculations which is a geodesic distance, maybe for the "northern" regions we could adapt a different type distance operation.

We should definitely include this in a test case to make sure it's getting the "correc

[2017-11-20 10:07] muziejus opened #1104 "How to cite sources for various equations, etc?"
The modules I'm working on now demand (in my opinion) some kind of reference to the scholarly literature from which they emerged. This is I think useful both as a justification for why a module uses the equations it does and also as a point of interest for GIS students who might, like me, be attracted to turf because of its flexibility, freeness, and so on, but who also want to know more of where

[2017-11-20 18:13] jasonbellis opened #1106 "@turf/nearest-point null property bug"
When the target featureCollection of points is being read, once the properties are examined the module fails when it reads a null input. It tries to check the length of the property and getting the length of a null value is not valid in Javascript.

The bug is quite easy to recreate bug with firing nearestPoint in version 5.0.4 with a featureCollection that contains a null property. Bug does exist

[2017-11-20 19:53] muziejus commented on #1106
Repeat of #1095

The problem is how objects are handled in @turf/clone.

[2017-11-20 19:53] #1106 closed

[2017-11-20 22:33] CooperSystems commented on #1086
This one got me too! Downgraded turf for now and it's all compiling, will have to look at babel

[2017-11-21 03:32] DenisCarriere commented on #1061
Implemented

`multiPoints` could be added, however it's a bit of an overkill to implement those Multi Geometries.

[2017-11-21 03:32] #1061 closed

[2017-11-21 03:38] DenisCarriere commented on #1038
Voronoi module is now implemented, will be released in the next minor release.

[2017-11-21 03:38] #1038 closed

[2017-11-21 03:59] DenisCarriere commented on #1065
This won't be implemented this since this would require the `featureCollection()` method to iterate over each item in the Array to detect if it's a Feature or a FeatureCollection.

❌ 👎 This will never get implemented.

[2017-11-21 03:59] #1065 closed

[2017-11-21 04:27] DenisCarriere commented on #1086
🤔 .. Strange stuff... I'm 👍 for improving the published `turf.js`. We could include Babel in Turf since we will need that soon as more and more repos are moving towards ES6 code base.

[2017-11-21 05:09] DenisCarriere commented on #1104
@muziejus Great topic, most of the TurfJS descriptions are pretty straight forward for simplicity, however you can always add more documentation & citations if you decide to include it.

For example [`@turf/tin`](https://github.com/Turfjs/turf/blob/master/packages/turf-tin/index.js#L5-L14) has 7 lines of code dedicated in the description with a Wikipedia link for more reading.

Feel free to add as

[2017-11-21 05:12] muziejus commented on #1104
Super. I looked at the tags for JSDoc and it looks like I could do something like:

[code]

[2017-11-21 05:27] DenisCarriere commented on #1106
👍 @muziejus so this will be fixed in the next 5.1 release?

Would it be possible to add this as a simple test case that way we don't have it recreate the same error in the future.

[2017-11-21 05:29] DenisCarriere commented on #1104
👍 Sounds good to me!

[2017-11-21 05:35] stebogit commented on #1086
Yay!! 🎉 😄

[2017-11-21 05:41] stebogit commented on #1061
:+1:

[2017-11-21 05:44] muziejus commented on #1106
I put in a test for this here:

https://github.com/Turfjs/turf/commit/5dc6adb3ff36ddc241185c2c5f14999712b39614#diff-acc3e3b43263911ab3da2ec0e06e72bc

[2017-11-21 05:44] DenisCarriere commented on #1086
lol! It's going to happen... but it was too much for me to handle for the v5.0 release, and even with the next to zero configuration publish we are still having some minor issues.

Another thing that broke with the Babel build was JSTS 🤦‍♂️ ... so I started refactoring that repo purely for TurfJS usage.

https://github.com/DenisCarriere/turf-jsts

I'm at 80% done... it's just a MASSIVE repo!

[2017-11-21 05:46] DenisCarriere commented on #1106
Didn't even notice that test 👍 Great job @muziejus

[2017-11-21 05:47] muziejus commented on #1106
I've added the null test on `@turf/nearest-point` now, too, but it seems… overkill? (it also fails because I'm not using future turf)

[2017-11-21 06:58] muziejus opened #1110 "How to use future turf?"
This is a straightforward question, I think, but I'm still new. I'd like to build a turf that is based on the current state of `master` so I can test a new feature that has other features that aren't released yet (like `@turf/ellipse`) as dependencies.

When I tried running the lerna command in the contributing documentation, it made it look like it was pushing something to github so I freaked out

[2017-11-21 07:03] DenisCarriere commented on #1110
😛 Yea... The docs are a bit lacking for creating new modules in Turf.

Before importing new modules between modules, I first need to publish them to `@turf`.

Afterwards you can import them like any other repo and then sync them from the master branch using `lerna bootstrap` (which syncs all repo using the master branch and NOT the actual npm release).

Let me publish your new modules and you'll u

[2017-11-21 07:14] muziejus commented on #1110
@DenisCarriere Thanks. I'll read up a bit more on lerna and follow the commits you're making to master to see how it all ties together.

[2017-11-21 07:16] DenisCarriere commented on #1110
👍 Don't hesitate to ask questions on the Turf Issues, folks are typically pretty responsive (you might of noticed by now).

[2017-11-21 07:18] DenisCarriere commented on #1106
🤔 ... when you are using "new" features from the master branch you'll need to sync the repo using `lerna bootstrap`, that sync modules to the latest build.

[2017-11-21 08:50] rowanwins commented on #1049
This should now be resolved, let us know if you continue to have issues @ErrorStuff

[2017-11-21 08:50] #1049 closed

[2017-11-21 08:52] rowanwins commented on #1032
Resolved by #1058

[2017-11-21 08:52] #1032 closed

[2017-11-21 08:52] rowanwins commented on #1050
Resolved by #1058

[2017-11-21 08:52] #1050 closed

[2017-11-21 14:06] ffflabs opened #1112 "Buffer is not passing steps options to jsts"
As seen in

https://github.com/Turfjs/turf/blob/f8fe4c1c7d463a3ae49782419ba5d8d96fb74142/packages/turf-buffer/index.js#L115

The buffer is always called as

[code]

Whereas the `steps` parameter should be passed as a third parameter:

[code]

Otherwise, the buffer will assume the `DEFAULT_QUADRANT_SEGMENTS` as steps, which are 8.

https://github.com/bjornharrtell/jsts/blob/1.4.0/src/org/locationte

[2017-11-21 14:50] amenadiel opened #1113 "Commonjs require in ES6 module (turf-unkink-polygon)"
As seen in

https://github.com/Turfjs/turf/blob/75c9904c0e1a9c06075be4d39dbccb385c98c820/packages/turf-unkink-polygon/lib/simplepolygon.js#L5

And

https://github.com/Turfjs/turf/blob/75c9904c0e1a9c06075be4d39dbccb385c98c820/packages/turf-unkink-polygon/lib/geojson-polygon-self-intersections.js#L2

`rbush` is being required as commonjs.

I believe this could be replaced with

[code]
As seen in
htt

[2017-11-21 15:18] amenadiel commented on #1113
I can see the same issue affecting `@turf/simplify`

https://github.com/Turfjs/turf/blob/75c9904c0e1a9c06075be4d39dbccb385c98c820/packages/turf-simplify/index.js#L1

Which I replaced with

[code]

using `rollup-plugin-commonjs` as before

[2017-11-21 20:43] ffflabs opened #1114 "Unnecesary dependencies brought along with jsts-es"
In modules `@turf/buffer`, `@turf/difference`, `@turf/intersect` and `@turf/union`, modules from  `jsts-es` are imported from the main module. E.g. in turf buffer:

[code]

It turns out that in `jsts-es/index.js`, when every submodule is exported

[code]

there are side effects that result in the whole (or most part) of `jsts-es` being brought along the required modules.

If I build `@turf/buffer`

[2017-11-21 22:40] DenisCarriere commented on #1114
JSTS has big problems when making it ES Module & CJS compatible.

The other major issue I found was the `extend()` method that JSTS uses copies the entire section of that source code. For example if we have 4 Turf modules that use JSTS, that means we will have 4x GeoJSONReader source code in the final Rollup bundle.

To solve this, I've been working on refactoring JSTS for the sole purpose of impo

[2017-11-22 07:30] DenisCarriere commented on #1113
`simplepolygon` is using `rbush`, however it cannot simply be replaced for `geojson-rbush` since it needs to be refactored before since both libraries are slightly different as inputs & outputs.

I've wanted to keep the Rollup config as simple as possible without any "hacks" (commonjs plugin to me is a hack which doesn't actually solve the issue but patches it). When using commonjs you also need t

[2017-11-22 07:35] DenisCarriere commented on #1113
@amenadiel Feel free to refactor `@turf/unkink-polygon` and replace `rbush` with `geojson-rbush`
 👍

[2017-11-22 23:17] amenadiel commented on #1114
That's good news.

[2017-11-23 11:46] codeofsumit commented on #1086
got me too. Not sure how to fix it yet. I even included turf to my babel compile step (which shouldn't be necessary for turf users IMO):

![image](https://user-images.githubusercontent.com/2399810/33171380-2be80b08-d04c-11e7-8c3e-6d4b4f65bc2f.png)

But it did not fix it yet.

[2017-11-23 11:52] rowanwins commented on #1086
HI @codeofsumit

Are you able to provide any info on where the error is coming from?

[2017-11-23 12:05] codeofsumit commented on #1086
Error is:
[code]

leaflet.pm.min.js (after compilation & babel, but before uglifying) is this at line 72:
[code]

npm debug log says this:

[code]

Webpack Config is this:
[code]

[2017-11-23 12:06] amenadiel commented on #1085
I've just seen that `jsts` does have both Algorithms in its `simplify` operation. I'll check if their weight adds too much overhead to the `@turf/simplify` build (as in, if I bundle `simplify-js` vs if I bundle `jsts-es/simplify`.

[2017-11-24 09:28] JD-Coder opened #1118 "Add optional parameter to disable truncating coordinates to @turf/intersect"
I've noticed that most turf.js transform functions return highly precise geometries, but I'm having trouble with the intersect function only returning six decimal points of precision. Consider these polygons:

[code]

Is there a way to get higher precision from this function?

[2017-11-24 10:08] DenisCarriere commented on #1118
`@turf/intersect` is currently using JSTS in the background and there was a few issues with precision errors that made certain results crash, there's definitely a way we can add an optional parameter to disable the truncating/cleaning coordinates operations.

Related Issue https://github.com/Turfjs/turf/issues/463 & PR https://github.com/Turfjs/turf/pull/1004

[2017-11-24 10:16] JD-Coder commented on #1118
That would be very helpful! Please let me know if you have a chance to add that parameter.

[2017-11-24 12:44] knutole opened #1119 "turf.bboxPolygon returns coordinates as strings, should return floats"
The following code,
[code]
returns GeoJSON with coordinates as `string`, instead of `float`. In other words, invalid GeoJSON:
[code]

Should return coordinates as float, even though input is string.

[2017-11-25 07:06] DenisCarriere commented on #1118
👍 Indeed

Unfortunately I won't have time to implement this, however feel free to push a PR with the proposed feature.

[2017-11-25 07:13] DenisCarriere commented on #1119
@knutole Thanks for sharing, however at the moment TurfJS will not be supporting string data inputs since the documentation & TypeScript definitions strictly enforce the correct input types, it would be up to your application to submit the correct BBox type which would be an Array of Numbers.

For an easy fix you can convert an Array of Strings to Number by doing the following:

[code]

[2017-11-25 07:15] DenisCarriere commented on #1119
Ops... misread the issue, you mean this is a valid input? This should fail the input validation... 🤔 ..

[2017-11-25 07:17] DenisCarriere commented on #1119
Oh... I see.. `@turf/bbox-polygon` has no input validation... 🤦‍♂️

https://github.com/Turfjs/turf/blob/master/packages/turf-bbox-polygon/index.js#L17-L30

[2017-11-25 07:26] JD-Coder commented on #1118
Thanks for letting me know. I'm working on using JSTS for those transforms and it's looking promising. I appreciate for your help!

[2017-11-25 08:14] DenisCarriere commented on #1119
Will be fixed in the next minor release `v5.1`

[2017-11-25 08:14] #1119 closed

[2017-11-25 08:23] DenisCarriere commented on #1085
👍 Almost done refactoring `jsts` to ES6 (both versions of `jsts` & `jsts-es` has major issues with `extend.js` & `inherits.js`)

Follow progress here: https://github.com/DenisCarriere/turf-jsts

Ideal goal would be to merge this directly into `jsts` (100% refactored/linted code... 🐵)

I'm 👍 for adding these algorithms using `jsts` now that it's a bit more stable and will soon be able to handle pro

[2017-11-25 08:49] DenisCarriere commented on #1086
I am 98% sure this is JSTS that's causing this issue, I'm currently trying to remove [`extend.js`](https://github.com/bjornharrtell/jsts/blob/master/src/extend.js) from the next refactored ES6 jsts.

Lets re-open this and revisit this issue after `v5.1` is released with the refactored `turf-jsts` implemented.

[2017-11-25 08:50] DenisCarriere commented on #1086
**JSTS `extend.js`**

[code]

[2017-11-25 20:45] jameslaneconkling opened #1124 "New function `@turf/helpers.to180degreesRange`"
When calculating the midpoint between two points near the antimeridian, the output longitude is often greater than 180 or less than -180.  See [js fiddle](https://jsfiddle.net/jameslaneconkling/x9ugvp5w/).

[code]

A check to wrap longitudes would be pretty easy:

[code]

Can submit a PR if this is desired behavior.

[2017-11-25 23:06] DenisCarriere commented on #1124
👍 It would definitely be a useful module to convert all coordinates back within 180 degrees.

I've written a similar library that addressed this issue, you might want to have a look at the source code to handle the longitude:
https://github.com/DenisCarriere/bbox-dateline/blob/master/index.js#L117-L137

Handling the latitude isn't much of an issue since +90 degrees isn't a valid coordinate.

This

[2017-11-25 23:09] DenisCarriere commented on #1124
⚠️  This should not be added directly to `@turf/midpoint` since most of the web map applications do support coordinates greater than 180+ degrees, this could be published as it's own separate module and/or be an option to enable on/off that feature in `@turf/midpoint`

[2017-11-25 23:12] stebogit commented on #1124
@jameslaneconkling @DenisCarriere why not just add a method to `@turf/helpers`?

[2017-11-25 23:27] DenisCarriere opened #1126 "Document new ES6 Chrome import viability"
## ✅ Partial TurfJS modules work directly in Chrome

[code]

This works, in Chrome 61+!

Thanks @tmcw for the heads up! 👍 https://github.com/simple-statistics/simple-statistics/issues/263

## ❌  Current issues

- [x] `@turf/isolines` is making it crash when trying to import `@turf/turf`
- [x] `jsts-es` is also crashing
- [x] `turf-jsts` Drop `index.js` & `index` folders from repo, seems to be cras

[2017-11-25 23:29] DenisCarriere commented on #1124
👍 Yep! `@turf/helpers` might be a good place for it, we could call it `helpers.antimeridian` ? or something else?

[2017-11-25 23:31] tmcw commented on #1126
Though it costs some upgrade churn, documenting versioned URLs usually pays off by avoiding version breakage down the line - `https://unpkg.com/@turf/helpers?module` will redirect to `https://unpkg.com/@turf@9.0.0/helpers?module` when that day comes, and breaking changes will automatically enter into applications that don't expect them.

[2017-11-25 23:55] DenisCarriere commented on #1126
👍 That's true, good point, there has been quite a few breaking changes in the recent major release.

[2017-11-26 08:37] stebogit commented on #1124
What about `helpers.to180degreesRange`?

[2017-11-26 21:03] muziejus opened #1128 "Document the differences between the 4 (5?) diff. `center*` functions"
@stebogit Brings up a good point that we now have a confusing set of four (or five) different measures for "center." This may make perfect sense to geographers, but is probably opaque to non-geographers. (I mean, I'm still not 100% on understanding `@turf/center-of-mass`!)

I've drafted some boilerplate language that can go in the READMEs for all of them. See #1122 and its README for that draft. I

[2017-11-26 23:14] DenisCarriere commented on #1124
👍 That's not a bad name

@jameslaneconkling Any creative names you've got for this proposed method?

[2017-11-26 23:18] DenisCarriere commented on #1128
That's a great idea! 🎉 We should start including at least 1 infographic image for some modules which isn't a Map, sometimes it's hard to explain with a map and a graphic is much easier to represent conceptually what the module is intended to do.

👍

[2017-11-27 04:47] jameslaneconkling commented on #1124
In my current project I've called it `wrapOnAntimeridian`--not sure if that's more or less descriptive.

[2017-11-27 05:06] DenisCarriere commented on #1124
🤣 Agreed, it's not an easy method name.

[2017-11-27 10:03] Knight219 opened #1132 "Turf-intersect does not work with lines and points after merge pull request https://github.com/Turfjs/turf/pull/1011"
Fix for https://github.com/Turfjs/turf/issues/463 broke work with lines and points.
Error in code **cleanCoords(truncate(geom2, {precision: 4})).coordinates[0].length < 4**
This condition only valid for polygons.
- For line **coordinates** is one dimensional array so **coordinates[0]** is the line's first point and length can't be more then 4.
- For point **coordinates** is not an array so **coord

[2017-11-27 10:26] DenisCarriere commented on #1132
👍 Great description of the issue, @Knight219 could you please send a PR with an appropriate fix.

[2017-11-27 11:15] Knight219 commented on #1132
I'm not sure about right fix. Should lines and points skip that condition?

[2017-11-27 16:54] helllth opened #1133 "Do you plan to publish pre-compiled packages"
In order to use your nice library with the `create-react-app` tool it would be nice if you could add pre-compiled packages.

See also: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

This is the case at least for modules that need the `turf-jsts`dependency.

[2017-11-27 16:55] tomheathershub opened #1134 "Docs are broken"
http://turfjs.org/docs seems to be broken, seems like your JS isn't working correctly.

[2017-11-27 16:57] #1134 closed

[2017-11-27 18:29] DenisCarriere commented on #1133
We do publish pre-compiled packages in the `@turf/turf` library under `turf.js` & `turf.min.js`. At the moment it's still on v5.0 (`turf-jsts` will be published under v5.1).

[unpkg.com/@turf/turf/](unpkg.com/@turf/turf/)

![image](https://user-images.githubusercontent.com/550895/33282345-35b14eec-d35d-11e7-811d-ebabdede4f92.png)

For now that could be an option for your use case.

@helllth If you

[2017-11-27 19:02] DenisCarriere commented on #1132
No clue... however the first step would be to make test cases with the features that fail and then we can assess what to modify in the library.

@Knight219 Could you send a PR by adding a GeoJSON FeatureCollection of two objects to the `test/in` folder of `@turf/intersect`, if the tests fail (which is good) it will be easier to figure out a solution for those test cases.

[2017-11-27 20:27] helllth commented on #1133
Unfortunately a copy of the `turf.min.js` in my `src` lead to other problems. But a Babel transpiling of https://github.com/DenisCarriere/turf-jsts helped. (I downgraded the import to `import intersect from '@turf/intersect';` which is at the moment the only problematic import.)

Would it be an option to release that project (`turf-jsts`)with a pre-compiled package?

[2017-11-27 20:30] DenisCarriere commented on #1133
👍 Let me look into republishing `turf-jsts` I've also had some issues with it last night.

Right now the only pre-compiled package is the Module, but not the CommonJS file, so maybe that's why it's causing an issue?

https://unpkg.com/turf-jsts@1.0.0/

[2017-11-28 07:27] helllth commented on #1133
Unfortunately the release of 1.0.1 didn't help.

<img width="661" alt="bildschirmfoto 2017-11-28 um 08 25 04" src="https://user-images.githubusercontent.com/837211/33307113-add9ad16-d415-11e7-9001-ddb217e7fe05.png">

(With the Link to [additional info](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify) I posted

[2017-11-28 08:20] DenisCarriere commented on #1133
@helllth seems like `react-scripts build ` is using the `module: index.js` instead of `main: jsts.js` ... 🤔

Please post a minimal example I can include in `turf-jsts` that will test for this build.

[2017-11-28 08:34] DenisCarriere commented on #1133
@helllth I've got new Errors now, I've copied `turf.js` and placed into the repo.

Unfortunately, these errors are from the poor original code, there was a few things missing which I chose to ignore when doing the refactoring to ES6.

I guess I'll have to fix those as well to make the build pass.

[code]

[2017-11-28 09:23] helllth commented on #1133
Yes, that`s what I meant with

:wink:

[2017-11-28 09:55] DenisCarriere commented on #1133
@helllth 😡 ... After many linting edits (50+ files had issues), I think I've got it!

I've added a script that will test [`create-react-app` inside `turf-jsts`](https://github.com/DenisCarriere/turf-jsts/blob/master/package.json#L66).

A few warning errors left, but it shouldn't prevent you from doing a build:

[code]

@helllth Let me know if it works on your side, I've published a new minor relea

[2017-11-28 09:56] DenisCarriere commented on #1133
🛌 time

[2017-11-28 10:04] helllth commented on #1133
I will test it ASAP.

[2017-11-28 10:54] Knight219 commented on #1132
I'm not able to push my branch with tests via https. Permission denied (

[2017-11-28 13:48] helllth commented on #1133
I can confirm that the `react-scripts build` on the `turf-jsts`project works now.

However, in my setup (project with `@turf/intersect`as a dependency) the command `react-scripts build` still leads to en error.

<img width="698" alt="bildschirmfoto 2017-11-28 um 11 38 02" src="https://user-images.githubusercontent.com/837211/33322317-369a4740-d449-11e7-9570-52f7fa638b00.png">

It looks like the `r

[2017-11-28 17:43] dbauszus-glx commented on #1034
I just read through the [mapbox-isochrone](https://github.com/mapbox/mapbox-isochrone) code. Same problem better solution. Here a [CONREC contour algorithm](https://github.com/jasondavies/conrec.js) is applied. Are you aware of a CONREC implementation in turf.js?

[2017-11-29 00:40] stebogit commented on #1034
@dbauszus-glx the previous version of `@turf/isolines` used to use [`conrec.js`](https://github.com/jasondavies/conrec.js) but for some reason it was not working properly (https://github.com/Turfjs/turf/issues/390).
I implemented a new version (together with `@turf/isobands`) based on [`MarchingSquareJS`](https://github.com/RaumZeit/MarchingSquares.js/tree/master).

However, MarchingSquareJS has s

[2017-11-29 01:02] DenisCarriere commented on #1133
Humm.. 🤔 ... Well there's one more thing I can do is to build an ES Module pre-compiled repo for `turf-jsts`.

Let me publish a new release with a `jsts.mjs` file for `"module": "jsts.mjs"`

[2017-11-29 03:30] jameslaneconkling commented on #1124
Took a first pass at this [here](https://github.com/jameslaneconkling/turf/blob/feature/to-180-degree-range/packages/turf-to180_degree_range/index.js).

Is this looking like something that's headed in the right direction?

Presumably, this is something that should be able to handle other features besides Points, yeah?

[2017-11-29 08:38] Knight219 commented on #1132
Any suggestions?

[2017-11-29 08:40] DenisCarriere commented on #1132
Try using Git instead of https, you’ll need to push your public key to GitHub for that to work

[2017-11-29 08:41] Knight219 commented on #1132
I've already tried(

[2017-11-29 10:01] Knight219 commented on #1132
My fault. Now all works well. Link to PR https://github.com/Turfjs/turf/pull/1139

[2017-11-29 10:02] Knight219 commented on #1132
I've added two tests polygon with linestring and polygon with point. Polygon with point test successfull but only because **cleanCoords(truncate(geom2, {precision: 4})).coordinates[0].length** is undefined and condition is true.

[2017-11-29 10:26] helllth commented on #1133
That would be great. (At the moment the Version ist still on `1.1.0`)

[2017-11-29 16:52] stebogit commented on #1124
@jameslaneconkling the code looks fine 👍
I don't see this really applicable for anything else then a point; I would probably return an output consistent with the input, i.e. array -> array, point -> point, geometry -> geometry.
However, shouldn't this be a `@turf/helpers` function? In this case you should remove the module dependencies in there.

P.S. I'd change the title of this issue to like "ne

[2017-11-29 18:14] DenisCarriere commented on #1133
Every new release I refactor more and more, right now it's broken 🤣

[2017-11-29 19:27] DenisCarriere opened #1140 "Add DE-9IM graphics to Web Documentation"
## Add DE-9IM graphics to Web Documentation

I was attempting to explain what `@turf/boolean-disjoint` was to someone and even I got confused on what that module was meant to do, I then decided to go to ESRI's docs and look at the **disjoint** graphic for more help.

We should try to include at least 1 info graphic to each module (optional) which helps better understand what the module does in a c

[2017-11-30 00:46] tmcw opened #1141 "Add unpkg entry point for @turf/turf"
Right now, https://unpkg.com/@turf/turf resolves to `index.js`, when it should resolve to `turf.min.js`. That way, people can import turf cleanly just by specifying it through unpkg. I'll open up a PR in a few.

[2017-11-30 05:36] rowanwins commented on #1141
Done in #1142 , thanks @tmcw

[2017-11-30 05:36] #1141 closed

[2017-11-30 05:38] rowanwins commented on #1140
Yeah that would be nice @DenisCarriere , there may be some newer graphics somewhere on the ESRI site so might be worth a quick dig around.

[2017-11-30 08:57] stebogit commented on #1140
👍 👍

[2017-11-30 09:04] DenisCarriere opened #1143 "Setting up OpenCollective for TurfJS contributors & community"
## Setting up ~Patreon~  OpenCollective for TurfJS contributors & community

CC: @Turfjs/ownership

**Edited: 2017-11-30**

To help continue the growth & development of TurfJS which many volunteers have contributed countless amounts of hours improving this amazing & easy to use Open-Source Geospatial Analysis library for today's modern GIS Web developers using Javascript & the GeoJSON specificatio

[2017-11-30 09:21] stebogit commented on #1143
I aim for the T-shirt!!! 😃

[2017-11-30 09:27] DenisCarriere commented on #1143
👍 Me too!! I need some clothes to wear at work! 😛

[2017-11-30 09:33] DenisCarriere commented on #1140
👍 We just need to find a consistent naming convention for these infographics.

Maybe we can include a collection of images to create a sort of Photo Gallery of maps/graphics which derive from that particular Module.

## Image Folder Structure

- `images/*.png`
- `images/*.jpg`

**Example:** `./packages/turf-center/images/infographic.jpg`

[2017-11-30 09:37] rowanwins commented on #1143
I reckon aim higher, I think we should be aiming for funding work on this project. T-shirts are nice and all but I'd rather some of us are financially remunerated for the time that we put into this project in terms of maintenance, improvement and support etc.

I think most people presume Mapbox are doing most of the work around Turf, unfortunately that hasn't been the case for quite a while now (t

[2017-11-30 10:25] DenisCarriere commented on #1143
Upon @rowanwins's comments:

Made some adjustments to add some higher tiered subscriptions which would essentially be used to help fund hired days for some of the core developers.

**200$/mo**
- 1x day paid for a TurfJS core developer!

**1000$/mo**
- 5x days paid for TurfJS core developer(s)!

[2017-11-30 14:55] tcql commented on #1143
👋 hey friends!

I know I haven't been active in Turf development for awhile, but I just wanted to drop my thoughts.

I think funding the project is a great idea. Y'all deserve some pay for the hard work and the ability to feel comfy taking time out of your regular jobs to do this. Patreon is a good enough platform for doing that. There's also Liberapay that works similarly, although fewer people k

[2017-11-30 17:00] tmcw commented on #1143
Hi! A few thoughts:

- **In general**, this sounds like a great idea, and I'm in support of it.
- **Not to bikeshed the site that we'd use** but [OpenCollective](https://opencollective.com/) has a bit more traction in OSS projects and more explicit systems for how people doing work can charge for their time and leadership can change. [webpack](https://opencollective.com/discover) is the top projec

[2017-11-30 17:21] dabajabaza opened #1144 "@turf/simplify - freeze window"
Just notice that **turf/simplify** freeze browser window in Google Chrome and Firefox (but not in IE11) if parameter **options** is undefined.

Tested in

1. Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)
2. Firefox Quantum 57.0
3. Internet Explorer 11

In [this example](https://codepen.io/ckpunmep/pen/LOBwVj?editors=1010) I comment out a freeze causing line.

[2017-11-30 19:21] DenisCarriere commented on #1143
Thanks for sharing your insights @tmcw

I really like how webpack structured their funding strategy. Looks like a better approach for larger organizations to be able to sponsor TurfJS and also have the ability for individuals to become backers (2$/mo).

https://opencollective.com/webpack

I will switch the crowdfunding approach to [Open Collective](https://opencollective.com/)

[2017-11-30 19:35] stebogit commented on #1143
That's very interesting, thanks @tmcw!

[2017-11-30 19:37] stebogit commented on #1143
I still want the T-shirt though... ahahah! 🤣

[2017-11-30 19:58] DenisCarriere commented on #1143
T-Shirt is still happening! We need to settle on a logo design for that since it's a bit of a bigger expense than stickers.

[2017-12-01 01:28] nkoren commented on #933
@jaapster , @rowanwins -- Yes, there's a definite skew in the line offset algorithm. On the equator, it's fine. At higher latitudes, the offset contracts east-west and expands north-south. If it were doing non-geodesic calculation then one would expect to see the opposite of this effect; instead it appears to be doing geodesic calculations incorrectly.

[2017-12-03 18:23] Spown opened #1146 "docs#featureCollection"
http://turfjs.org/docs#featureCollection: link to http://turfjs.org/Feature doesn't go nowhere, link to  FeatureCollection goes to this page (http://geojson.org/geojson-spec.html#feature-collection-objects) with bugged nav and "Obsolete" in the title.

Thank you

[2017-12-03 19:06] rowanwins commented on #1146
Thanks for reporting this @Spown . Unfortunately the geojson.org page seems a bit broken at the moment, not sure what's going on there...

[2017-12-04 05:30] Spown commented on #1146
http://turfjs.org/docs#clustersDbscan and here the supposed wikipedia link goes back to turfjs.org. I think it'S common problem with links in docs

[2017-12-04 05:44] Spown commented on #1146
``degreesToRadians`` nav menu item is broken - causes ``TypeError: _vm.module is undefined`` and doesn't load docs

![](https://drive.google.com/uc?id=1xA1YFM8N_7AUV4CcsUgg_yCCsc4pPgsV)

[2017-12-04 09:46] rowanwins commented on #1146
Thanks @Spown

[2017-12-04 22:16] rowanwins opened #1151 "Polygon centreline module"
Came across this article the other day and thought it would be neat to have a polygon centreline module
http://itc.ktu.lt/index.php/ITC/article/view/12964/8078

The other commonly used approach apparently is based around Voronoi triangles, see example here
https://smathermather.com/2011/09/16/what-is-the-center-line-of-a-polygon-or-how-to-change-labeling-in-geoserver/

[2017-12-04 22:26] rowanwins commented on #1140
Do we put in the images in the turf-www repo ?

[2017-12-04 22:33] DenisCarriere commented on #1151
👍 The Voronoi approach might be the easiest to implement since we've already got `@turf/voronoi`.

After you've created your centre line from Polygon, one would want to simplify the line, we could elaborate a bit more on our `@turf/simplify` modules (ref: https://github.com/Turfjs/turf/issues/1085).

[2017-12-04 22:39] DenisCarriere commented on #1140
No we should keep them in the module repo, that way we can also include those images when we are using [`scripts/generate-readmes`](https://github.com/Turfjs/turf/blob/master/scripts/generate-readmes)

The `turf-www` repo already has `turf` built inside, so we can reach those images through the main Turf folder.

I've done the same thing for the [`documentation.yml` config](https://github.com/Turf

[2017-12-04 22:49] rowanwins commented on #1140
yeah ok, no worries. Well if that's the case then I reckon your proposed above looks good.

Slightly newer Esri image here
http://desktop.arcgis.com/en/arcmap/10.3/manage-data/using-sql-with-gdbs/relational-functions-for-st-geometry.htm
Although not sure if we can steal them due to licensing...

The postgis images are a bit more complicated because they are split into lots of portions.
https://pos

[2017-12-04 23:05] rowanwins commented on #1151
Note that the blog post for the Voronoi approach also has a few other articles about the subject. And if you google 'voronoi polygon centreline' you find a stack of things. It looks like this is the approach GRASS GIS takes https://grass.osgeo.org/grass72/manuals/v.voronoi.html

[2017-12-05 01:28] muziejus commented on #1128
![artboard 1](https://user-images.githubusercontent.com/827683/33585310-9596d15e-d931-11e7-901e-18f40a2b8cd7.png)

I created a draft diagram showing the four different center functions in turf. It turns out `@turf/centroid` behaves exactly as `@turf/center-mean` does, but the latter allows for weighting. I don't know if this diagram makes things any clearer, but maybe...

[2017-12-05 02:29] DenisCarriere commented on #1128
Holy moly! 🚀 That's a cool diagram! I'd say we can start adding images to each individual modules in the `images/*.(png|jpg)` folder, I have no issues adding the same diagram to each `@turf/center-*` module, we can make unique ones later down the road.

More about this in this https://github.com/Turfjs/turf/issues/1140#issuecomment-348132574

[2017-12-05 02:32] DenisCarriere commented on #1140
We can create our own diagrams to prevent any ESRI image licensing complications.

I'll set up the `scripts/generate-readmes` to work with `images/*.(png|jpg)`

[2017-12-05 03:03] muziejus commented on #1140
I can spruce up some of the images from Esri, etc., but I think I'm generally a bit better off building on something that already exists.

It would make sense to come up w/ a standardized visual language, also, much like Esri has for its various geoprocessing images:

![Dissolve](http://desktop.arcgis.com/en/arcmap/10.3/tools/coverage-toolbox/GUID-E49A133D-83D0-4217-8319-DCAAD61F3157-web.gif)

![E

[2017-12-05 04:02] rowanwins commented on #1128
Before we do too many I'll try and come up with a rough style guide that fits with the Turf website, would be nice to have them looking vaguely consistent.

[2017-12-05 04:30] stebogit commented on #1128
Super cool @muziejus! 👏 👏

Absolutely right @rowanwins! 👍

Perhaps it could be useful keeping the "originating" drawing file (.psd, .pdn, google drawing or whatever) with layers and stuff, so we could improve/edit/update them if ever needed; otherwise it might become a problem in the future to use a picture if we ever change anything in the relative module.

[2017-12-05 18:43] ziya61 opened #1153 "Turf.js invalid units error for buffer operation"
I have 2 geojson feature collections in leaflet. One of them is road and the other one is parcels. I want to calculate buffer for road and then intersect this buffer layer with parcels. But when I call buffer function I get an error:

Uncaught Error: Invalid unit at Object.module.exports.distanceToDegrees (turf.js:4191) at Object.module.exports [as buffer] (turf.js:652) at index.html?_ijt=k268ek1s

[2017-12-05 18:52] DenisCarriere commented on #1153
Which version of TurfJS are you using? If you are using `v5.x` then your syntax seems to be correct, if you are using `v4.x` or `v3.x` then it will break.

You can refer to the `@turf/buffer` documentation here:
https://github.com/Turfjs/turf/tree/master/packages/turf-buffer#buffer

[2017-12-05 19:00] ziya61 commented on #1153
I am using v3.5

[2017-12-05 19:04] DenisCarriere commented on #1153
You're code won't work, you can try:

[code]

[2017-12-05 19:04] #1153 closed

[2017-12-05 20:08] DenisCarriere commented on #1128
Agreed! At the moment we can publish `.gif` / `.png` / `.jpg` and the other file formats will not be published since they won't have those file extensions.

Adding a diagram should be as easy as dropping an image in a folder and firing off `npm run docs`, no extra configurations needed (which is the current implementation https://github.com/Turfjs/turf/pull/1152)

[2017-12-05 21:51] muziejus commented on #1128
My idea was to create a multi-artboard file in Illustrator, where very graphic is its own artboard. Then styles can be unified, etc., over the project as a whole and updated appropriately. Then Illustrator can export each artboard separately as its own svg. This would conceivably break the "each module has its own images directory" rule, but it may be possible for travis to copy each svg to its ap

[2017-12-05 22:44] rowanwins commented on #1128
Only downside I see with this is that Adobe Illustrator costs money and many contributors might not have access to it :(  I was thinking [Inkscape](https://inkscape.org/) although this obviously looses the ability to have unified styles. That said I think we need to be too fussy about styling, it would be nice if they were vaguely consistent but not the end of the world

[2017-12-05 22:55] stebogit commented on #1128
👍  I was just writing the same @rowanwins, cause I don't have Illustrator 😅 🤣

Anyway I'd keep it simple, don't know how many JS programmers are also designers, and vice versa...

[2017-12-05 23:39] muziejus commented on #1128
Right. That was my concern, too. I'm lucky regarding access to software, I know. I'll have a look at inkscape; it should provide similar functionality, no?

[2017-12-05 23:42] muziejus commented on #1128
@rowanwins inconsistent styling just means a particularly picky contributor 🤔 will just go through the already existing graphics and provide them w/ visual consistency. That's why a drawing program might be best--no changes are permanent, etc.

[2017-12-06 05:09] DenisCarriere commented on #1128
As long as we can all easily modify and re-use the diagrams I'm ok with it.

@muziejus Is there a way you can create a Diagram with illustrator and also export it into a format that Inkscape or free online image editors such as [Pixlr](https://pixlr.com/editor/)

I personally use Google Drawings, MS PowerPoint, Keynote Presentation & Pixlr for making "doodles", however I wouldn't know which file f

[2017-12-06 07:17] muziejus opened #1154 "Provide distributed (per-module), current, and stylistically coherent diagrams"
I'll try to centralize the various threads between myself, @DenisCarriere, @rowanwins, @stebogit and anyone else who has been talking about images for the documentation.

* #1152 @denis sets up so that every module can have its own `./images` directory. This moves us toward solving the first half of this goal, having distributed (per-module) images/diagrams. They are, of course, optional for any g

[2017-12-06 07:18] muziejus commented on #1128
Move discussion to #1154.

[2017-12-06 07:18] #1128 closed

[2017-12-06 10:12] sedot42 opened #1155 "http://turfjs.org/ unusable in Firefox 56.0.2"
Hi, just wanted to let you know that the "Welcome to Turf.js" overlay on http://turfjs.org/ is in the wrong position so that I can't search use the documentation, see the screenshot. I am using Firefox 56.0.2. The issue does not occur in Chromium 62.0.3202.94.

![turfhomepage](https://user-images.githubusercontent.com/8765349/33656381-2ebbf5ea-da76-11e7-9858-ac751b768ab6.png)

[2017-12-06 12:10] rowanwins commented on #1155
Thanks for the report @sedot42 , appears to be across every browser except Chrome :(

[2017-12-06 15:58] alqird opened #1156 "pointToLineDistance strange bahavior"
Hi, I've just got strange results from function pointToLineDistance when compared to nearestPointOnLine and to what should be expected. Short explanation code:

[code]
The result is:
[ 11.02834, 41 ] 188.40111660891222 188.42219043739743
[ 11.028341, 41 ] 188.4845779466462 188.50565183748427
[ 11.028342, 41 ] 188.5680392846129 188.58911323788854
[ 11.028343, 41 ] 188.65150062254605 188.67257463823

[2017-12-06 18:10] estradamarkie opened #1157 "Getting fill property not supported on IE11"
Hi,

I'm getting this error on IE11 using https://npmcdn.com/@turf/turf@5.0.4/turf.min.js

Just wondering if this issue has been sorted for IE11 or anyone else is having this issue?

Thanks

[2017-12-06 18:19] DenisCarriere commented on #1157
🤔 ... I believe the `v5.0` isn't being compiled with Babel, it's using Browserify + Uglify to compile the final bundle.

@estradamarkie Can you try to pinpoint which module is causing this, we've got LOTS of dependencies and sub-modules.

Next release will 100% be compiled with Babel, so maybe we just have to wait out until the next release to have this fixed.

[2017-12-06 18:21] DenisCarriere commented on #1157
@estradamarkie You are correct that `Array.fill` is not supported by IE 11

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/fill

Of course, our lovely `JSTS` repo has this 😓 ...
https://github.com/DenisCarriere/turf-jsts/search?utf8=%E2%9C%93&q=fill&type=

[2017-12-06 18:26] estradamarkie commented on #1157
@DenisCarriere Yeah `Array.fill()` is not compatible with IE, thought this would have been seen by other people who's using turf.js.

Guessing this will be a major bug for the plugin? Are we expecting a fix soon?

[2017-12-06 18:27] DenisCarriere commented on #1156
🤔 ... strange

Maybe the input is being mutated by the TurfJS modules, lets try to add this as a test case.

👍

[2017-12-06 18:30] DenisCarriere commented on #1157
Well `v5.0` wasn't using Babel to compile, I assumed that all dependencies didn't use any Polyfills.

By compiling the next minor release with Babel this "should" fix this.

[2017-12-06 18:32] DenisCarriere commented on #1157
Hopefully we won't have to include this Polyfill

https://github.com/bjornharrtell/jsts/blob/master/src/Array.js

[2017-12-06 18:39] rowanwins commented on #1157
Or maybe, just maybe, perhaps Martinez will be ready!

[2017-12-06 18:52] DenisCarriere commented on #1157
lol indeed! We can make that a major release, it's going to take sometime to get that released, I'm sure we will have few bugs to fix before we swap out JSTS for Martinez

[2017-12-06 20:26] estradamarkie commented on #1157
Is there a work-around for now while waiting for the official fix?

On 6 December 2017 at 18:52, Denis <notifications@github.com> wrote:

[2017-12-06 21:53] DenisCarriere commented on #1157
You can include the following Polyfills in your code before importing Turf.

- [Array.js](https://github.com/bjornharrtell/jsts/blob/master/src/Array.js)
- [Math.js](https://github.com/bjornharrtell/jsts/blob/master/src/Math.js)
- [Number.js](https://github.com/bjornharrtell/jsts/blob/master/src/Number.js)

The fix should be available soon, I'll try to push a release tonight (🤞 nothing goes wrong

[2017-12-06 22:16] DenisCarriere commented on #1143
Set up OpenCollective contributing platform.

https://opencollective.com/turf

[2017-12-06 22:16] #1143 closed

[2017-12-06 23:22] rowanwins commented on #1155
Resolved by [this pull request](https://github.com/Turfjs/turf-www/pull/133)

[2017-12-06 23:22] #1155 closed

[2017-12-07 20:00] DenisCarriere commented on #1133
@helllth `v5.1` release seems to work for me now using `create-react-app`.

If you only need 1 or two modules, I would recommend you import them directly from the module name instead of using `@turf/turf` since Webpack can't seem handle the Tree Shaking by default (maybe with extra configurations).

**index.js**
[code]

[code]

[2017-12-07 20:00] #1133 closed

[2017-12-07 20:03] DenisCarriere commented on #1157
The Polyfills are now added in `v5.1`

https://npmcdn.com/@turf/turf@5.1.0/turf.min.js

This should be working again

[2017-12-07 20:03] #1157 closed

[2017-12-07 20:36] Spown opened #1161 "turf@5.1.0 require is not defined"
When using ``<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>``:
[code]
testing before publishing wouldn't hurt...

[2017-12-07 20:42] robertclayton7 commented on #1161
@Spown This was my workaround. https://npmcdn.com/@turf/turf@5.0.4/turf.min.js

[2017-12-07 20:50] DenisCarriere commented on #1161
Already fixed... didn't know about the `require()`

https://github.com/Turfjs/turf/commit/01796fe7ddde2a1401f3772700cd6a29697cd684

[2017-12-07 21:04] Spown commented on #1161
There is this testing for browser thing http://zombie.js.org/ exactly for this kind of situations.

Thank you for quick response.

[2017-12-07 21:07] DenisCarriere commented on #1161
It's strange because it worked locally and then when publishing it goes out of whack.

That's what happens when you try to publish 70 modules with tons of dependencies which are a mixed between CommonJS & ES Modules.

I'll be patching it very soon

[2017-12-07 21:18] DenisCarriere commented on #1161
@Spown @robertclayton7 Try it now, seems to work on my side using the following:

https://github.com/Turfjs/turf/blob/master/builds/npmcdn/index.html

[code]

[2017-12-07 21:31] robertclayton7 commented on #1161
This one doesn't seem to work (cached?):
 <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
But yep, I'm up and running with this one:
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

I just started turfing yesterday - I got the first link from the readme here.  When turf.point failed I thought it was because it was deprecated.  Thanks for the exciteme

[2017-12-07 21:31] Spown commented on #1161
I've just switched to npm and using ``.min`` version ``<script src="/static/js/lib/turf.min.js"></script>`` seems to work fine. unminified version however is bugged. I'll open another issue.

[2017-12-07 21:37] rowanwins commented on #1161
Hi @Spown

Thanks for reporting the issue, we do appreciate that, however please try and minimise the the snark, eg

Turf is a community run project, @DenisCarriere and others spend a considerable amount of time maintaining this project in their own time unpaid. We've recently had some changes to build processes in transitions to ES6 modules which have introduced a few challenges so we appreciate

[2017-12-07 21:39] DenisCarriere commented on #1161
The unminified is only for CommonJS and not meant for the Browser since it's not a UMD build.

[2017-12-07 21:42] Spown commented on #1161
Ok... this is confusing. I would suggest to put minified version into a ``/dist`` subfolder (along with the unminified one) like it is common with many other modules.

[2017-12-07 21:48] Spown commented on #1161
@rowanwins before going and accusing people, please try and minimize drama-queen-acting. I was very literal in my statement. and just like [I suggested in this comment](#issuecomment-350093727) you should perfirm a final independent testing on browser distr before publishing a new version.

[2017-12-07 21:55] rowanwins commented on #1161
No-one is drama-queening acting, we're just asking for people to talk nicely to us.

We've acknowledged your issue and taken your feedback on board, I even suspect we'll write those tests as and when time becomes available. Even better would be if submitted a pull request with the desired tests.

We're truly sorry Turf isn't perfect and that our myriad of tests that do run prior to publishing didn

[2017-12-07 21:56] #1161 closed

[2017-12-07 22:02] DenisCarriere commented on #1126
Using ES Modules directly in the browser works now 🎉

[code]

[2017-12-07 22:02] #1126 closed

[2017-12-07 22:10] DenisCarriere opened #1162 "New minor release! Turf 5.1.0 🎉"
# New minor release! Turf 5.1.0 🎉

TurfJS releases are being tracked using [Milestones](https://github.com/Turfjs/turf/milestone/13?closed=1).

## Contributors

- @muziejus 🥇
- @rowanwins 🥇
- @DenisCarriere
- @tmcw
- @stebogit
- @woutervh-
- @dwaggenspack

### Crowdsourced Funding

#### Why we're looking for support

TurfJS is a community-driven project maintained by a small group of core contribu

[2017-12-07 22:15] rowanwins commented on #1162
Thanks particularly to @muziejus for getting involved in the past month, lots of really valuable contributions, code & thoughts & documentation, so thank you!

[2017-12-07 22:47] muziejus commented on #1162
Thanks. I've been using Turf on and off as a solution to put my various geospatial analysis on the web in presentations for about a year, but lately I've been getting more and more frustrated w/ ArcMap and QGIS and working between them and Leaflet. Turf takes up a great middle ground, and I'm glad that my solution to "I wish Turf did _x_" was "Let me try to do it; the worst that happens is the tea

[2017-12-08 04:53] brianreavis commented on #1162
For any turf users out there also using [webpack](https://webpack.js.org/) and [babel](https://babeljs.io/) to compile to ES5 for browsers, make sure your `test` line (if you have one) now matches `.mjs` files:

[code]
Otherwise, lines like [this one](https://github.com/Turfjs/turf/blob/master/packages/turf-meta/index.js#L589) will now creep into your bundle.

[2017-12-08 04:59] Spown opened #1163 "@turf/turf/index.d.ts"
Last seen in @5.0.4. Was this intentional/Where is it now?

[2017-12-08 05:14] DenisCarriere commented on #1163
Strange... 🤔 I guess it doesn't play well with Symbolic links.

https://github.com/Turfjs/turf/blob/master/packages/turf/index.d.ts

Good catch

[2017-12-08 05:35] DenisCarriere commented on #1162
@brianreavis What is creeping into your bundle? the Callback?

For the `module` bundle, I changed it to `.mjs` since that will be the new file extension standard for ES Modules, let me know if this is more of a headache then a solution, we can always use `turf.es.js` as the file extension for ES modules.

[2017-12-08 05:47] brianreavis commented on #1162
Just the `{bbox, id}` shorthand.

I wouldn't worry about it. Just a growing pain! I wasn't familiar with the `*.mjs` convention, but am now. For anyone else wanting the reading: [The Michael Jackson Solution](https://medium.com/dailyjs/es6-modules-node-js-and-the-michael-jackson-solution-828dc244b8b)

[2017-12-08 05:52] DenisCarriere commented on #1162
Actually `{bbox, id}` shorthand should be transpiled to ES5... 🤔 Which isn't happening... I'll look into the new `buble` Rollup configuration.

[2017-12-08 05:55] DenisCarriere commented on #1162
Nevermind.. `buble` is transpiling the code to proper ES5 (without shorthand), try using the `main` in the `package.json`.

https://unpkg.com/@turf/meta@5.1.0/main.js

**main.js**
[code]

[2017-12-08 06:01] brianreavis commented on #1162
Yep, that all seems to be working fine! The main kicker is that webpack picks `module` over `main` by default ([documentation here](https://webpack.js.org/configuration/resolve/#resolve-mainfields)). Again, no problem with turf – just a bit of a head scratcher on the tooling side if you're not aware :)

[2017-12-08 07:13] Spown opened #1164 "Error handling in browser"
Am I correct to assume that turf tries never to raise exceptions?

Because every time something goes wrong - I get a stringified version of the error at ``turf.min.js:1``. In most cases it has something to do with turf method arguments so it is ok, but right now I am stumbled upon a very strange behavior, that probably has nothing to do directly with turf and originates somwhere else, but I can't

[2017-12-08 11:09] neil-morrison44 opened #1165 ""/main.mjs" returned instead of expected turf function on require (Webpack)"
In my code (which is compiled via webpack) I have the line
[code]
which was working on 5.0.4, but is broken in 5.1.0 as `require("@turf/points-within-polygon")` now returns the string `"/main.mjs"`

Most likely related to https://github.com/Turfjs/turf/commit/481dd5d5b652a47e33352f9b2abe74c56903574d

[2017-12-08 11:11] rowanwins commented on #1164
Gday @spown,

You are correct in that turf doesn't really have any try/catch style exceptions, that said we'll often throw errors particularly when inputs are incorrect.

We should add the generation of a sourcemap to our [rollup config](https://github.com/Turfjs/turf/blob/master/rollup.config.js) to those built files, it would certainly aid in debugging.

And if additional built outputs are helpf

[2017-12-08 13:00] rowanwins commented on #1092
Unfortunantly we haven't quite nailed this for multipolygons with holes
eg input like
[code]

leads to
[code]

[2017-12-08 17:50] DenisCarriere commented on #1162
@brianreavis Thanks for the heads up, moving forward more and more libraries will support `"module"` by default since there are many benefits of using ES Modules and most popular bundlers now support it (Webpack, Rollup). One of my personal favorites is the ability to import an ES module directly in the browser (Chrome 61+) without even having to bundle it.

## Using `"module"` directly in Chrome

[2017-12-08 18:40] polizz commented on #1086
Ran into same issue with unexpected bump from 5.0.4 to latest. We downgraded @turf/meta to get around this.

[code]

[2017-12-08 21:57] contra commented on #1165
I think I'm also hitting the same issue after upgrading to 5.1.0 - broke our production build with this error:

[code]

Nothing changed other than upgrading turf, so almost 1000% sure

[2017-12-08 23:45] fullermike commented on #1086
@polizz , Thank you for this, it just fixed an issue we were trying to fix for the last 4 hours !

[2017-12-09 00:23] DenisCarriere commented on #1086
@polizz What was the issue, I remember having that same issue with `uglify` but then it got solved in the latest release. @fullermike are you saying you are still having that issue with `v5.1.x`?

It might be an issue with the version of `uglify-js` you are using, in TurfJS we are minifying the bundle with `uglify`, but I also imported it as a `devDependency`, maybe that can solve the issue?

http

[2017-12-09 00:25] DenisCarriere commented on #1086
@polizz @fullermike is it only happening with `@turf/meta` or other modules as well?

Maybe it's the shorthand syntax here: https://github.com/Turfjs/turf/blob/master/packages/turf-meta/index.js#L589

[2017-12-09 01:08] polizz commented on #1086
Yes, that line 589 in ```@turf/meta``` was the specific error. We are using an older version of webpack (2.7.0) and the uglify-js version is 2.8.29 (webpack requires ^2.8.27).

When I change that to full object syntax it does transpile.

[code]

[2017-12-10 04:35] DenisCarriere commented on #1086
@polizz Fixing some of the new issues raised from the recent `v5.1` release.

PR https://github.com/Turfjs/turf/pull/1166

[2017-12-10 05:25] DenisCarriere commented on #1165
@contra @neil-morrison44 Try using the latest release `v5.1.5` which is now using `main.es.js` for `"module"` (PR https://github.com/Turfjs/turf/pull/1166)

Please don't hesitate to re-open this issue if the error persists.

[2017-12-10 05:25] #1165 closed

[2017-12-10 05:27] DenisCarriere commented on #1164
@Spown I've added UMD support to the "unminified" bundle for both `"main"` & `"module"` (PR https://github.com/Turfjs/turf/pull/1166).

Don't hesitate to re-open this issue if the `"main"` does not work in the browser.

[2017-12-10 05:27] #1164 closed

[2017-12-10 05:29] DenisCarriere commented on #1163
@Spown Fixed in the latest release `v5.1.5`.

https://unpkg.com/@turf/turf@5.1.5/

[2017-12-10 05:29] #1163 closed

[2017-12-10 20:37] DenisCarriere commented on #1092
@rowanwins Here's a breakdown of what the Indexes "should" look like for a MultiPolygon using `meta.coordEach()`:

[code]

[2017-12-10 21:18] DenisCarriere opened #1168 "⚠️ Change coordIndex to last Coordinates Array reference"
## Change `coordIndex` to last Coordinates Array reference

### ⚠️ Breaking change for next major release v6.0

Ref: https://github.com/Turfjs/turf/issues/1099 & https://github.com/Turfjs/turf/issues/1092#issuecomment-350579714

### TurfJS v5.x `coordEach`

[code]

### TurfJS v6.x `coordEach`

[code]

## Index Breakdowns

### MultiPolygon with Holes

[code]

### Polygon with hole

[code]

## Featu

[2017-12-10 21:19] DenisCarriere commented on #1092
Patched in `v5.1.6` release

[2017-12-10 21:19] #1092 closed

[2017-12-10 21:28] DenisCarriere commented on #1154
@muziejus Try adding some `.png` or `.jpg` to the module repos and use `npm run docs` to build the new `README.md`.

Let me know if that works, for now `.svg` & `.ai` file extensions are ignored, so you can still store them in that folder if someone would want to re-create those diagrams with the Illustrator files.

[2017-12-10 21:54] rowanwins commented on #1092
Thanks @DenisCarriere ! Every time I work with polys/multipolys/withholes I've been reminded how painful it is to cater for them, I reckon these fixes will make it far easier!

[2017-12-10 22:01] rowanwins commented on #1168
This is a bit confusing as to what you're proposing here sorry @DenisCarriere .

Anotehr thought is I wonder if rather than sending them through as arguments which is becoming unweildly, whether we construct an object?

Perhaps something like
[code]
That might make extending these methods a bit simpler as well in terms of reducing breaking changes etc.

[2017-12-10 22:01] DenisCarriere commented on #1092
I know.. Handling Polygons with holes is brutal! Don't hesitate to test the other `@turf/meta` modules, we can do another big revamp at the next major release to make it easier to work with by returning Objects in the callbacks.

[2017-12-10 22:04] DenisCarriere commented on #1168
That is exactly what I'm proposing... via https://github.com/Turfjs/turf/issues/1099

I just didn't update the JS example "for now" because this issue only talks about the `coordIndex` and not about returning an Index Object.

[2017-12-10 22:06] DenisCarriere commented on #1168
I've updated the comment with:

### TurfJS v5.x `coordEach`

[code]

### TurfJS v6.x `coordEach`

[code]

[2017-12-10 22:07] rowanwins commented on #1168
Ah - glad we're on the same track (even if I didn't realise it!)

[2017-12-10 22:08] bjornharrtell commented on #1114
@DenisCarriere your remark about extend seems surprising and unexpected to me. AFAIK I don't get that duplication when bundling as ES5 with rollup and babel.

[2017-12-10 22:12] DenisCarriere commented on #1168
Currently `coordEach` only counts the number of points by doing `++` for all features, instead of iterating over the last possible Array of coordinates.

## Example for a FeatureCollection of LineString

[code]

## Using this proposal

[code]

[2017-12-10 22:15] DenisCarriere commented on #1099
@rowanwins Looks like someone had the same idea 👍 https://github.com/Turfjs/turf/issues/1168#issuecomment-350585174

[2017-12-10 22:17] bjornharrtell commented on #1114
As a side note, as I hope you know JSTS is transpiled Java. At one point I did actually transpile to ES6 classes instead of functions like it is now, but it actually had two drawbacks - it could not properly emulate the class inheritance from Java, and it added a significant negative performance hit when transpiled to ES5 (due to emulation of ES6 classes). If one would want an ES6 target, it might

[2017-12-10 22:18] DenisCarriere commented on #1114
@bjornharrtell That's because you're bundling in the same library, whenever multiple modules use `jsts` then that's when the duplicating starts.

I can look into it again, but removing `extend.js` from `jsts` solved the issue.

[2017-12-10 22:19] DenisCarriere commented on #1114
Agreed! I'm never doing this manually 😄 However it got me familiar with the code base.

[2017-12-10 22:45] rowanwins commented on #1168
ah I see now, that's clearer thanks!

[2017-12-11 05:12] muziejus commented on #1154
@DenisCarriere OK.

[2017-12-11 10:18] jpoynton opened #1169 "pointGrid fails with multi-polygon mask (5.1.6)"
Docs and validation for pointGrid state that can pass a multi-polygon as a mask, however multi-polygon fails as pointGrid relies on boolean-within to check if the point is within the mask. Boolean-within does not accept multi-polygon as valid input.

Simple recreation follow

[code]

[2017-12-11 20:00] DenisCarriere commented on #1169
Thanks @jpoynton for reporting this, this is definitely a bug, should be relatively easy to fix so this can be patched soon.

[2017-12-11 21:02] DenisCarriere commented on #1086
@ttaranov Can you test your build again, the `Unexpected token name «key», expected punc «;»` Error should be fixed now in the `v5.1.x` release.

[2017-12-11 21:02] #1086 closed

[2017-12-11 21:03] DenisCarriere commented on #1162
Seems like most `v5.1` issues have now been resolved.

[2017-12-11 21:03] #1162 closed

[2017-12-11 21:18] DenisCarriere opened #1170 "⚠️ Publishing *.mjs file extension for "module" - TurfJS v6.0"
## Publishing `*.mjs` file extension for `"module"`

### ⚠️ Breaking Change - Major Release v6.x

To prevent any older Webpack configurations from being accidentally  broken, the `v5.x` release currently uses `*.js` file extension to publish `"module"`. In the next TurfJS major release, the pre-compiled `"module"` file extension will be using `*.mjs` which has already landed in Webpack 4 (https://

[2017-12-11 23:27] DenisCarriere commented on #1169
@rowanwins This PR https://github.com/Turfjs/turf/pull/1171 should help do the trick.

[2017-12-12 03:01] DenisCarriere commented on #1146
👍 Thanks @Spown for reporting this, this is now fixed in the updated website.

[2017-12-12 03:01] #1146 closed

[2017-12-12 03:08] DenisCarriere commented on #1144
Thanks @dabajabaza for reporting this issue & creating a web map example, this behavior has now stopped in `v5.1.x`.

[2017-12-12 03:08] #1144 closed

[2017-12-12 03:17] DenisCarriere opened #1172 "New module proposal @turf/angle"
## New module proposal `@turf/angle`

A  module to find a specific angle between 3 points

[code]

[2017-12-12 03:27] rowanwins commented on #1172
ooo this would be handy, I've found myself doing things like this a bit with things like lineOffset.

[2017-12-12 07:09] stebogit commented on #1172
Nice suggestion @DenisCarriere 👍
We could also replace [these lines](https://github.com/Turfjs/turf/blob/master/packages/turf-point-to-line-distance/index.js#L82-L84) with this new module.

[2017-12-12 07:15] DenisCarriere commented on #1172
👍 Perfect! I'll add this module, I've already got the implementation and the tests ready to go.

[2017-12-12 15:21] fullermike commented on #1086
@DenisCarriere
~late response to: "fullermike are you saying you are still having that issue with v5.1.x",

[2017-12-12 17:15] dhivehi opened #1176 "Custom earth radius"
I think it would be better to be able to set earth's radius as a global parameter in turf. Because many people like me would be using google earth's radius which is also accepted by many professional organaisations. As for now, for every update, i download turf js and edit radius and use.

[2017-12-12 18:46] stebogit commented on #1176
Sorry, just realized you said set and not get... 😅

[2017-12-13 03:42] dhivehi commented on #1176
I want that feature mostly in distance calculation modules. But would be better if can be used in all modules.
`turf.pointToLineDistance(pt, line, {units: 'meters', earthRadius: 6378137});`
Adding support for extra parameter "earthRadius" would be great i guess.

[2017-12-13 04:21] dhivehi commented on #1176
Attached screenshot shows what troubles me for every turf update.
![capture](https://user-images.githubusercontent.com/18715293/33921608-c3dcb4aa-dfe6-11e7-83a4-a31fede47994.PNG)
(Web application made with openlayers & TURF)

[2017-12-13 04:35] #1169 closed

[2017-12-13 05:33] rowanwins commented on #1104
Another alternative here might be to use the `@see` [tag ](http://usejsdoc.org/tags-see.html)in jsdocs, then we could put those references somewhere outside of the main description, for instance, in a modal or something?

The main benefit I can see in this would be that we can split out the really technical references which limited ppl are probably interested in, from the general description (whic

[2017-12-13 11:12] rowanwins commented on #1140
First attempt at a unified style. Graphic on the left, and some brand guidance on the right.

![turfgraphics](https://user-images.githubusercontent.com/6735870/33936125-8c1b5208-e052-11e7-9b2b-114dc367c058.png)

[2017-12-13 11:16] rowanwins commented on #1154
Gday all,

Sorry that this has taken a while longer than expected. Attached is my first cut at a graphic template with a bit of a style guide showing prefered fonts/colours as per the turf website. I've designed it in Inkscape so it's svg, it can be exported to whatever size png.

As a next step I might take a look at @muziejus diagram of `center` to see if the style guide can be usefully applied

[2017-12-13 11:45] rowanwins commented on #1101
Hi @dabajabaza

I've just taken a bit more of a look at this and I don't think turf is doing anything incorrect.

I simplified your test case a little and have made it available [here](https://runkit.com/rowanwins/5a3110dfbd5fe100123a4ea4). If you look at the [output](http://bl.ocks.org/d/3ad771291e0af25ed99c57594bb59328) of this it is as expected, so I suspect the error must lie in how you are ha

[2017-12-13 12:30] DenisCarriere commented on #1140
Very cool! I like the style guide

[2017-12-13 12:32] DenisCarriere commented on #1140
We should try to find a clever spot for this on the website, maybe we could add it to a contribution section.

[2017-12-13 15:04] stebogit commented on #1154
👏 👍

[2017-12-13 21:40] rowanwins commented on #1044
Done in #1046

[2017-12-13 21:40] #1044 closed

[2017-12-13 22:11] rowanwins commented on #1040
Now available as a first cut thanks to @stebogit
http://turfjs.org/Docs/#shortestPath

[2017-12-13 22:11] #1040 closed

[2017-12-13 22:14] #1110 closed

[2017-12-14 09:29] jpoynton opened #1177 "PointGrid units is mandatory if other optional parameters set"
If you set a mask in PointGrid options then units attribute becomes mandatory as the kilometer defaulting not picked up as the options object is passed straight through to the distance calculation and then straight through to radiansToDistance helper.
[code]
Code line to recreate
[code]
Work around is pretty easy as just need to set the units in the options object.

[2017-12-14 15:22] Nikolya85 opened #1178 "error union polygon"
[code]

[code]

[example](https://jsfiddle.net/nikolya/p9b3vtm5/11/).

[2017-12-14 16:15] dabajabaza commented on #1101
@rowanwins thanks for reply. I made simplified [example ](https://codepen.io/ckpunmep/pen/YYXWyR?editors=1010) and it's work as expected.
I guess it's my bad - Leaflet and geoJSON standard use different coordinates order - [lat, lon] vs [lon, lat] and I used Array.prototype.reverse()  to switch its order that mutated original array - so the result of turf.nearesPoint() was skewed.
Sorry for wastin

[2017-12-14 16:15] #1101 closed

[2017-12-14 19:07] strech345 commented on #914
I would like the possebility to disable this check. Because for me it look like very cpu expensive, and i don't need this check if i have prepared coordinates
![image](https://user-images.githubusercontent.com/7572377/34009732-52e37854-e10a-11e7-935b-851a96eb97d2.png)

[2017-12-14 19:52] rowanwins commented on #1101
All good, we've all been there where something isn't working as expected, a fresh pair of eyes always helps

[2017-12-14 21:29] rowanwins commented on #1178
Thanks for the use case @Nikolya85 - hmm those are interesting geometries. Our union function is currently provided by the jsts library which is known to struggle with edge cases. We're currently working on replacing this dependency so I'll use these inputs in my testing.

Thanks

[2017-12-14 21:38] rowanwins commented on #914
I agree with @strech345 on this one. I think one of our guiding principles in Turf is that people pass in valid geojson. I think we've made that call elsewhere not to handle errors due to invalid inputs.

I'm not sure if @strech345 suggestion of adding an option is viable just because of the sheer number of entry points so I'd be in favour of removing the checks.

But I wonder if we could have a `

[2017-12-14 21:48] rowanwins commented on #1177
Thanks @jpoynton , good pickup

[2017-12-15 07:52] Nikolya85 commented on #1178
Another mistake:
```TopologyException: no outgoing dirEdge found```

[example here](https://jsfiddle.net/nikolya/p9b3vtm5/14/)

if for example take a polygon from 0 to 10 and 60 to end positions:
```polygons.splice(10,60);```
then the error is repeated
```found non-noded intersection between LINESTRING```

[2017-12-15 08:53] strech345 commented on #914
@rowanwins yes u right, a `makeValid` mudule would be make sense.

[2017-12-15 09:02] stebogit commented on #914
👍  @rowanwins we can definitely assume/require Turf inputs to be valid GeoJSON, and we might want to mention it in the [docs](https://github.com/Turfjs/turf#data-in-turf) to make it official.

A [validating tool](https://github.com/Turfjs/turf/issues/64) has always been needed though 😄
To make it easier, at least as a first step, we might provide a simpler (boolean) validity checker, instead of a

[2017-12-16 17:40] strech345 opened #1179 "Definition of how to work with bbox?"
Hello,
for me this framework look like, that it is not defined how to work with bboxes.
Because it will not automatic calculated and if i calculate it, i have to put it by my self to the right place `feature.bbox`.
A nother problem, its not clear which function use this bbox. For example `booleanWithin `didn't, but `booleanPointInPolygon `does. For me this is not the right way how to work with bbo

[2017-12-17 12:23] Spown opened #1180 "id == 0 option ignored."
``turf.point([1,2], {}, {id: 0})`` doesn't seem to apply id.

![](https://drive.google.com/uc?id=1DdpiivfT67cIMssV7zJ7cfAa4Buq1z8z)

I deduce there is simple troothy/falsy check (ie ``!options.id``) in place before the id application.

[2017-12-17 12:49] Spown opened #1181 "@turf/turf/index.d.ts doesn't produce any intellisense."
turf@5.1.6

![](https://drive.google.com/uc?id=1Q9ZMk1E0chdA0kzZDxGHys015mQF_sR1)

I use the d.ts file in my pure js, browser-side script, via ``/// <reference path="../../../node_modules/@turf/turf/index.d.ts" />`` to enable intellisense in VSCode. In @^4 it did work, then it stopped (#1163). but now, after the #1163 is resolved its just doesn't do anything, despite the d.ts file clearly being co

[2017-12-17 13:55] Spown opened #1182 "breaking iterations"
It is kinda a common knowledge by now for many libraries that provide some iterating helpers that by returning false in the iteration callback you can exit the loop prematurely. ~~And it seems that is also the case for turf, at least for ``.featureEach()`` (dunno about the rest of the methods). But there is no mention of it in the docs. I think it still should be mentioned.~~

Thank you.

[2017-12-17 14:09] Spown opened #1183 "clustering methods mutation option"
Right now ``.clustersDbscan()`` returns a new collection with clones of the input with additional fields, not altering anything in the input. It would be helpful to have an option for mutating the features and getting a collection with them as the return, where both the input collection and it's members would be the same objects as input. Maybe even 2 options to mutate only members and only the co

[2017-12-17 18:35] stebogit commented on #1180
Thanks @Spown, I created PR #1184 for this

[2017-12-17 23:46] rowanwins commented on #1179
Hi @strech345

Yes you are correct in that there is inconsistent use of `bbox` across modules. One of the challenges of turf is because of it's modular nature we don't always tackle things consistently, and we don't draw on overarching geometry classes that might normally enforce some of this stuff (which is both a blessing and a curse).

So I can see a few potential actions
- We add an optional p

[2017-12-18 00:03] rowanwins commented on #1182
Hi @Spown

Hmmm can't say I've heard of that looping functionality but that certainly would be a neat addition, can you provide examples of which libraries do that?

I've tried doing that [here](https://runkit.com/rowanwins/5a370531998e5a00115c2d2b) with `featureEach` but I can't get it working so I'm interested in how it's working for you, are you able to show us an example?

Cheers

[2017-12-18 00:09] rowanwins commented on #1183
Gday @Spown

Yeah we have started implementing `mutate` as an option on a number of modules, it's just a matter of time available as there are many modules to look after, feel free to put in a pull request :)

Providing both options to users (whether to mutate features in a collection or not) gives them the flexibility to choose what is appropriate to their use case.

Cheers

[2017-12-18 00:23] Spown commented on #1182
Yeah, my mistake, turf's loops don't do that - I just was inspecting already filtered out results so it looked like there were no superfluous iterations after ``return false``.

Well, both underscore and [lodash do that](https://lodash.com/docs/4.17.4#forEach) and [jQuery](http://api.jquery.com/each/). Would be nice to have it here too, GeoObject collections can be quite large and every resource-s

[2017-12-18 00:34] rowanwins commented on #1182
Ah yeah ok, I'd had a quick browser on the lodash page but didn't see it referenced anywhere so thanks for those specifics.

I'd certainly be in favor of adding this in as I've had to resort to generating my own looping systems where I've needed to break out early (eg many of the boolean style operations).

[2017-12-18 02:45] DenisCarriere commented on #1181
🤔 that's weird... let me look into that one:

Turf has never used Globals for the TypeScript definition,

Seems to work using ES6 syntax.

![image](https://user-images.githubusercontent.com/550895/34087710-ea989d18-e372-11e7-947c-3d697213955d.png)

Also works using ES5 syntax.

![image](https://user-images.githubusercontent.com/550895/34087706-d980a656-e372-11e7-8c51-2f2f8744ad2b.png)

Even import

[2017-12-18 02:45] #1181 closed

[2017-12-18 08:41] strech345 commented on #1179
@rowanwins, thanks for your replay.

i think, if a calculation get features with bboxes, the new feature should be also get a bbox. Because, in most cases, a bbox could be calculated for the new feature without the geometry only by using the relationship of  the bboxes (difference, union, intersect,...). A post bbox calculation means to iterate the geometry and will cost more time.
I love the way,

[2017-12-18 11:27] Spown commented on #1181
Yeah, you kinda never did in the module itself. I forgot I was using ``@types/turf`` first, which was deprecated around @3.5. After installing it again I can use Intellisense on turf without any imports.
![](https://drive.google.com/uc?id=18K1vitsAXWmEeFQuW0bAcYJIVEcCHzUu)
But the API is very old of course.

I'm not really good at .ts so I probably can't help you much. Just look at [how it was don

[2017-12-18 18:16] Jose4gg opened #1187 "[HELP] TurfJs breaking React-Native 0.50+ through name property"
The library turf-jsts is trying to make the prop *name* configurable, but React-Native 0.50 crash when it tries to do it `on android`. The problem is at the turf-jsts.js `line 3474`.

My solution was convert the staticAccesorrs equal to an empty object, but I know that can create conflicts in the future, so I want to know more about this issue.

![image](https://user-images.githubusercontent.com/1

[2017-12-18 19:35] DenisCarriere commented on #1187
@Jose4gg I've changed the `IndexOutOfBoundsException` back to ES5. (https://github.com/DenisCarriere/turf-jsts/commit/ece9f6d68c2029cfba829f26e0ba7628c4e690da) and patched `turf-jsts`, maybe that will do the trick.

Instead of using `@turf/turf` in your app, why don't you use the specific modules? You're bundle size will be a lot smaller and you'll have a lot more control if you use the ES6 module

[2017-12-18 19:48] Jose4gg commented on #1187
@DenisCarriere Thanks! that fixed everything on my end. And about the suggestion, you are completely right, thanks so much for that too!

[2017-12-19 21:33] rowanwins commented on #70
Implemented by #1077

[2017-12-19 21:33] #70 closed

[2017-12-19 21:51] rowanwins commented on #785
Think I've now got this resolved by #1174 , has been released as v5.1.5 to npm

[2017-12-19 21:51] #785 closed

[2017-12-20 09:06] kuan-hsun commented on #1157
Hello,

I also encountered the same problem in **IE11** and sloved it by using https://npmcdn.com/@turf/turf@5.1.6/turf.min.js.

But I'm getting the error on

I was fixed it by added the if statement from [here](https://stackoverflow.com/questions/35215360/getting-error-object-doesnt-support-property-or-method-assign) in the local file turf.js:

Thank you

[2017-12-20 16:28] stebogit commented on #1180
Fixed with #1184

[2017-12-20 16:28] #1180 closed

[2017-12-20 16:35] stebogit commented on #1182
implemented with #1185 and  #1186

[2017-12-20 16:35] #1182 closed

[2017-12-20 22:25] bwyss opened #1191 "Update API Docs - helpers.feature"
Using version 4.7.3
A small thing, the API docs under [helpers / feature](http://turfjs.org/docs#feature) reads:

`var feature = turf.feature(geometry);`

Should be:

`var feature = turf.helpers.feature(geometry);`

[2017-12-21 01:07] DenisCarriere commented on #1191
Thanks for the comment, however both statements are actually valid in `v5.x`

[2017-12-21 01:07] #1191 closed

[2017-12-22 15:44] Hugosama opened #1195 "[intersect function] it seems bugged in a strange way"
Hi,
@crubier and I are trying to use your library but we encountered a very strange behavior from the function `intersect`.

What we did :
* create a LineString named : `Line1`. Here is the [gist](https://gist.github.com/anonymous/666a2c289e47b998d5f9fdf921a3ee73).
* create a buffer around this line with the `buffer` function. We named this `BufferedLine`. Here is the [gist](https://gist.github.co

[2017-12-22 17:33] DenisCarriere commented on #1195
@Hugosama Thanks for providing a very detailed test case.

At the moment `@turf/intersect` is using JSTS which we are going to be phasing out in favor of @w8r's [martinez](https://github.com/w8r/martinez).

As a solution, could you attempt the same comparisons using `martinez` and see if you get the same expected results or `null` values.

We are not going to be providing a fix for `jsts`, so this

[2017-12-22 17:40] DenisCarriere commented on #1183
Agreed, actually it "shouldn't" be too difficult to add a `options.mutate` parameter, i'll see if I can get that implemented in a short period of time.

[2017-12-22 18:32] DenisCarriere commented on #1183
Going to be implemented in `v5.2`

[2017-12-22 18:32] #1183 closed

[2017-12-22 18:40] DenisCarriere commented on #1179
For now, I've changed the `@turf/bbox-polygon` to translate down the `bbox` properties to the output since the user is explicitly giving a `bbox`.

Like @rowanwins mentioned, we need to be careful when handling the `bbox` property since this property does not get modified each time a TurfJS operation is used, so the geometry might change but the `bbox` property will not be modified.

As for each i

[2017-12-22 18:40] #1179 closed

[2017-12-22 19:44] kriscarle commented on #1132
Hi @DenisCarriere and @Knight219 Just to add to this, MultiPolygons are also not working. When I comment out the if(cleanCoords(truncate())) small polygon checks, it works fine. I do occasionally get exceptions from JSTS but I just wrap it in a try catch.

Happy to work on a PR fix, but I think I have a couple questions first:

1) Is intersect intended to to only support geometry type Polygon? In

[2017-12-22 20:23] DenisCarriere commented on #1132
@kriscarle I wouldn't put too much effort in fixing this issue since we are going to be dropping `jsts` in favor of `martinez` (more info here https://github.com/Turfjs/turf/issues/1195#issuecomment-353642946).

Going to close this issue for now since `@turf/intersect` won't be worked on until we drop `jsts` as a dependency.

@Knight219 Also, `@turf/intersect` does officially support other Geometr

[2017-12-22 20:23] #1132 closed

[2017-12-23 05:30] rowanwins commented on #1195
Just a note @Hugosama that you'll need to look at [this branch of martinez](https://github.com/w8r/martinez/tree/rowanwins-avl-again), we haven't quite managed to merge it back into master yet

[2017-12-23 20:52] DenisCarriere commented on #914
1. ✅  Having a validating module with multiple methods would definitely be a useful. I've added a few validating methods already in `@turf/helpers`:
  - [validateBBox](https://github.com/Turfjs/turf/blob/master/packages/turf-helpers/index.js#L666-L694)
  - [validateId](https://github.com/Turfjs/turf/blob/master/packages/turf-helpers/index.js#L696-L720)

2. 🚀  I've improved the performance of `inva

[2017-12-23 20:52] #914 closed

[2017-12-24 04:44] dhivehi opened #1198 "Feature request: Pull String feature for line strings"
I think it would be nice to have pull string feature for lineString.
Having such a module would also be helpful to produce a better result in `turf.shortestPath`
![gqn0s](https://user-images.githubusercontent.com/18715293/34324287-f748e4e8-e88e-11e7-9656-33f7f58bb835.png)

[2017-12-24 16:11] DenisCarriere commented on #1172
Implemented

[2017-12-24 16:11] #1172 closed

[2017-12-24 16:27] DenisCarriere commented on #1198
👍 Seems useful.

How exactly would this proposed module be used? @dhivehi Could you draft up a quick JSDocs of what the `@params` would look like.

[2017-12-25 04:12] dhivehi commented on #1198
How about `turf.pullString(lineString, polygonObstacles, {minDistance: distance})`
and this should return the line string when it's being pulled, i.e the shortest line possible.

[2017-12-25 13:33] abc3660170 opened #1201 "boolean-contains"
[code]

look my simple demo ,why output is true ???  Obviously this triangle does not completely contain this line.

[2017-12-25 16:57] DenisCarriere opened #1202 "@turf/invariant proposal methods (first & last => coord & segment)"
## ~`@turf/meta`~ `@turf/invariant` proposal methods

A few helpful methods would be useful to have in the [`@turf/invariant`](https://github.com/Turfjs/turf/tree/master/packages/turf-invariant) collection.

### Proposed new methods

- [x] `invariant.firstCoord`

- [x] `invariant.lastCoord`

- [ ] `invariant.firstSegment`

- [ ] `invariant.lastSegment`

### Example

[code]

[2017-12-25 21:55] DenisCarriere commented on #1202
## 1. Change method names

Or keep the naming schema consistent with the other `@turf/meta` methods names.

- `meta.coordFirst(geojson)`
- `meta.coordLast(geojson)`
- `meta.segmentFirst(geojson)`
- `meta.segmentLast(geojson)`

## 2. Change method parent to `@turf/invariant`

Possibly these methods would be more appropriate under `@turf/invariant` since they don't perform any iterations, this would

[2017-12-26 00:58] muziejus opened #1203 "Module/Method proposal makeIterable()"
@DenisCarriere's new proposals in #1202 spurred me into starting to write this module, but I'm not having a lot of luck, and I want to talk it over w/ you all because maybe I'm stepping on discussions that you've already had.

Simply put, I don't like `turf.featureEach()`. I wish there were a way to do something like:

[code]

IIRC, in python, as long as the object responds to two hidden methods,

[2017-12-26 03:07] DenisCarriere commented on #1203
We be introducing a newer way to iterate over features using the new [ES6 `generators/iterators`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function%2A). We won't be creating a new module for that, but we will introduce new methods with that new methodology.

Nothing announced on the proposal side, but it will look something like this (adding `Gen` at the end of

[2017-12-26 03:12] DenisCarriere commented on #1203
@muziejus Why don't you simply use the Array that's built into a FeatureCollection?

[code]

The list goes on...

[code]

[2017-12-26 03:17] DenisCarriere commented on #1203
@muziejus One enhancement that you could improve on would be to extend the `helpers.featureCollection`'s input to include more different inputs (eg. FeatureCollection, Geometry). That way you can add all sorts of data and it would return a  GeoJSON Spec `FeatureCollection` which is an Array that you can perform all those operations.

[2017-12-26 06:33] muziejus commented on #1203
@DenisCarriere Thanks. There isn't a good reason why I prefer `geojson.map` to `geojson.features.map` other than saving typing… but it's just odd to me that conceptually a "feature collection" is, y'know, a _collection_, not an object per se, but that takes us out of the realm of geojson.

Thanks for the suggestion. I'm still behind on the graphics task, but I'll have a look at `helpers.featureCol

[2017-12-26 08:21] rowanwins commented on #1203
-1 from me sorry @muziejus although I understand the sentiment. I don't think we should be tinkering with the geojson object given that it is a recognised spec, it's a smidge unintuitive but not really that bad.

[2017-12-26 19:07] kriscarle commented on #1132
Thanks! Hadn't heard of `martinez` yet, I'll check it out.

[2017-12-26 19:09] muziejus commented on #1203
Cheers, @rowanwins. I realized while typing out the issue that it was maybe overly idiosyncratic. While trying test cases w/ `Symbol.iterator`, I saw that the geojson was getting polluted w/ a new property.

[2017-12-26 20:21] DenisCarriere commented on #1198
@dhivehi Why don't we we simply improve `@turf/shortest-path` with that functionality?

[2017-12-26 20:26] DenisCarriere commented on #1201
GeoJSON display of fixtures:

- **Red** => line
- **Blue** => polygon

![image](https://user-images.githubusercontent.com/550895/34364157-0336b014-ea51-11e7-9d3c-7d202debf5da.png)

[2017-12-26 20:37] DenisCarriere commented on #1201
@abc3660170 Seems like the issue is a precision error, if the LineString uses the same coordinates as the polygon then it returns false (not contained) because the `line` exactly on the edge of the `polygon`.

[code]

Closing this issue since there's no obvious issue with the module.

[2017-12-26 20:37] #1201 closed

[2017-12-26 20:43] DenisCarriere commented on #1203
The intention was good with `Symbol.iterator`, however we won't be tinkering with the GeoJSON object.

However we will be eventually adding iterators (apparently it will speed things up), I'll open a dedicated issue for just that.

Closing this issue.

[2017-12-26 20:43] #1203 closed

[2017-12-26 21:41] stebogit commented on #1198
I agree. @dhivehi how would you use this module in a case where you don't have obstacles?

[2017-12-26 21:50] stebogit commented on #1201
@DenisCarriere maybe we could add to the docs of `@turf/boolean-contains` about the perimeter overlapping or not.
Hopefully when we'll have pictures for all these modules these edge cases will become clear.

[2017-12-26 22:10] stebogit commented on #1202
@DenisCarriere I'm sure you found a use case for these modules but I can't think of one at the moment, particularly regarding getting the first point of the first line of a `MultiLine` 🤔 .
Anyway, trying to contribute to your idea, I'd create:
- `invariant.start` and `invariant.end`, applied only to lines returning the corresponding point
- `invariant.first` and `invariant.last`, applied to lines

[2017-12-26 22:18] stebogit commented on #1202
`first` and `last` could probably be extended to polygons (returning a linearring), multipolygons (returning a polygon) and multipoints (returning a point, although I'm not sure if the 'first' or 'last' point here have a particular meaning)

[2017-12-26 22:51] DenisCarriere commented on #1201
Updating the docs would definitely make it clearer to use this module.

I've added the ESRI diagram (for now) until we have our own updated diagrams.

https://github.com/Turfjs/turf/tree/master/packages/turf-boolean-contains#diagrams

![image](https://user-images.githubusercontent.com/550895/34366100-702c12ae-ea65-11e7-8880-16cb5360be01.png)

[2017-12-26 23:14] DenisCarriere commented on #1202
My use case is to be able to easily extract the following geometry attributes of a particular LineString (highway):

- First Coord (first road intersection)
- Last Coord (last road intersection)
- First Segment (to calculate the bearing of the initial highway direction)

![image](https://user-images.githubusercontent.com/550895/34366247-18163f2a-ea67-11e7-8a17-30a2d3896696.png)

The other Geometry

[2017-12-27 17:27] dhivehi commented on #1198
improving @turf/shortest-path is much better. In case of no obstacles, a straight line will be returned.

[2017-12-27 18:10] ahmedshahab opened #1206 "turf is not defined (got this inside angular js framework application running on localhost)"
Hi everyone,

I am building a model building extension of turf js. i.e. adding a new functionality(module) in turfjs. For that inside turf js library, I am accessing the existing turf functions e.g. buffer, intersect etc. by "turf.buffer(...)" , "turf.intersect(...)" etc. It works fine. But when I try to run it inside angular js application running on localhost. I get error inside turf js where I

[2017-12-27 20:13] DenisCarriere commented on #1206
@ahmedshahab Can you provide some sample code of the TurfJS section.

Sounds like your issue is with your AngularJS environment and not TurfJS itself.

Going to close issue for now unless there's an actual issue with TurfJS.

[2017-12-27 20:13] #1206 closed

[2017-12-27 22:10] ahmedshahab commented on #1206
[turfjs_model_builiding_module.txt](https://github.com/Turfjs/turf/files/1589958/turfjs_model_builiding_module.txt)
![image](https://user-images.githubusercontent.com/32779767/34394673-1b6edbc4-eb5b-11e7-83e2-ccda1fa11a7b.png)

[2017-12-28 07:10] stebogit commented on #1202
I like exploding arrays! 💥 👍 😄

[2017-12-28 14:11] DenisCarriere commented on #1202
Implemented `findPoint` & `findSegment`

[2017-12-28 14:11] #1202 closed

[2017-12-28 14:53] gdrouet opened #1208 "Dissolve fails with some polygons"
I have a polygons that cause an error when using `dissolve`.

For instance : http://bl.ocks.org/d/25604e12a46464195ac7708fd879b4fe
The stacktrace:
[code]
All features are polygons.

[2017-12-28 15:51] DenisCarriere commented on #1208
🤔 ... sounds like this could be a bug. The `@turf/dissolve` module is kinda a mess, what if you used the `@turf/union` module instead as a temporary fix?

[2017-12-28 18:58] gdrouet commented on #1208
This is what I've already done done and works well :)
Thanks.

[2017-12-29 08:57] gdrouet opened #1209 "Union of a polygon and its simplified version fails"
I have a set of polygons that I simplify.
Then I compute the union of this simplification with its original version.
I have some case when the following error occurs:

[code]

Ex 1:
- original: http://bl.ocks.org/d/01d17aa8a50abdc7d57ef59bc9298d52
- simplified: http://bl.ocks.org/d/2c25a0e73b0a7c4b52e33f5465dfa0dd

Ex 2:
- original: http://bl.ocks.org/d/753197f993b85a1c103d2d5bbf082422
- simplifie

[2017-12-29 09:24] gdrouet commented on #580
Looking for this feature! It would be useful to split polygons that are too big.

[2017-12-29 09:34] gdrouet commented on #1209
I confirm that if I unkink the simplified polygons and then compute the union of all the resulting polygons with the original version, I obtain a valid workaround.

[2017-12-31 08:42] rowanwins commented on #1209
Thanks for the detailed report @gdrouet , we aware that our union function doesn't handle self intersecting polygons very well, it currently relies on the jsts library, but we write close to replacing this dependency with something that does, so stay tuned!

[2018-01-02 10:12] Stenvdb opened #1210 "Trouble searching points @turf/within when latitudes invert"
I'm looking for points that fall within a rectangle on my map. But when I'm zooming out enough the search rectangle can overlap the border where longitude 179.86250559999996 for example inverts and becomes -179.78593190000004 (between Asia and North America, don't know what the name is for this "border"). Having trouble understanding what goes wrong here..

Hopefully the following screenshot expla

[2018-01-03 10:21] woutervh- commented on #965
Hi all,

I looked a bit into this issue and think I have found the problem: the turf-nearest-point-on-line packages is using turf-line-intersect to calculate LineString intersection between the line segments and the perpendicular of the point. However, the turf-line-intersect package does this in Cartesian coordinates rather than spherical:

https://github.com/Turfjs/turf/blob/4024ab49ce082a6a6420

[2018-01-03 20:01] bulutkartal commented on #788
Do you still planning on adding minDistance? It shows on new documentation but minDistance is not working for now.

Also algorithm creates extra waypoints and make the path longer than it supposed to be.

[jsfiddle example](http://jsfiddle.net/bulutkartal/jhozk8jj/) based on documentation example.

[2018-01-03 22:42] bulutkartal opened #1211 "@turf/shortest-path not giving the shortest path & minDistance option not working"
Algorithm creates extra waypoints and makes the route/path longer than it supposed to be. Also minimum distance option is not working.

[Example Fiddle](https://jsfiddle.net/bulutkartal/jhozk8jj/) based on documentation test.

Until the first wp under the polygon it created 6 unnecessary waypoints.  Also did the same thing when clear from polygon as well.

[2018-01-03 22:49] rowanwins commented on #1211
Gday @bulutkartal

Yeah unfortunantly the shortest-path module is still very days. @stebogit might be able to provide more comment as to what he's struggling with...

[2018-01-03 22:52] bulutkartal commented on #1211
It is a great start :) Just needs some improvements.

[2018-01-03 22:57] rowanwins commented on #1210
Hi @Stenvdb

Welcome to the joys of working with the 180 Meridian, this [blog post](https://macwright.org/2016/09/26/the-180th-meridian.html) sets out some of the issues around it.

I think what I'd be tempted to do in your case is split your rectangle into two when it crosses the 180, and then run the operation twice, and then combine the results.

Im going to close this issue and it's a not a pr

[2018-01-03 22:57] #1210 closed

[2018-01-03 23:53] rowanwins commented on #1094
Hi @polizz

So I've done some more digging into this.

simplepolygon uses it's own [self-intersection library](https://github.com/mclaeysb/geojson-polygon-self-intersections) rather than `@turf/kinks`.
The `geojson-polygon-self-intersections` library is a bit more advanced. This explains why there are some anomalies between your results. For example the `geojson-polygon-self-intersections` lib pro

[2018-01-04 07:25] stebogit commented on #1211
Hi @bulutkartal, I agree with you this module should perform better.
Currently it uses the A* algorithm (see [here](https://github.com/Turfjs/turf/pull/956#issuecomment-331345288) for some more details), which was a quick (because already [implemented](http://github.com/bgrins/javascript-astar)) first solution, but it actually operate on a gridded plane so that's why introduces unnecessary points

[2018-01-04 08:11] rowanwins commented on #1211
I started looking at a visibility graph to power our astar algorithm, this will do away with the need for the gridded approach, still a little while away though, I'll try and post a link to a public repo tomorrow

[2018-01-04 08:19] stebogit commented on #1210
@Stenvdb I'm not sure I get your case without an actual example.
The 180 meridian issue, well illustrated in @tmcw's article, is actually related to points beyond the -180/+180 degree range; so for instance if you had points and rectangle going from 179 to 190 or from -179 to -190 degrees.
You are saying your points though switch from round -179 longitude to around +179 (which is inside the above

[2018-01-05 21:06] erikh2000 opened #1213 "Intersect() truncation fix and loss of precision"
I'm familiar with the code inside intersect(). And I see a clever hack contributed by @DenisCarriere in this commit: https://github.com/Turfjs/turf/commit/66722db5bc5c461b3293183e75f6f781be7a435a#diff-15768e5e1d39d953dd9dfb38dc6ff146

I'm sure it's not news to you, that this can cause some real problems. Basically, I've got an app that needs 6-digit precision, and the hack truncates to 4 digits. C

[2018-01-05 21:16] DenisCarriere commented on #1213
@erikh2000 Thanks for reporting this issue, maybe an easy solution is by adding `validate` as an optional parameter.

I believe we've already talked about this in the GitHub issues, a way for the user to prevent any validation on the data input, that way it would speed things up if you don't need to validate the input data.

@erikh2000 Are you comfortable sending a PR with the change? I can publis

[2018-01-05 21:37] erikh2000 commented on #1213
@DenisCarriere, thanks for the reply.

I think the .validate option would help some people. But in my case, I'll just be back to having topology exceptions if I don't run cleanCoords(truncate()) on the coordinates. The starting polygon I have above is valid (correct winding, no kinks, no duplicate coords) and was generated from an earlier call to difference(). It's getting tripped up inside of JST

[2018-01-07 21:39] rowanwins commented on #1213
Hi @erikh2000

Currently the most promising option for removing jsts is [martinez](https://github.com/w8r/martinez) which we've been trying to progress with its author. It's certainly getting pretty close, although we've still got one or two edge cases that we haven't yet cracked (cases that would likely break jsts as well).

I'm a bit tied up for the next week but after that I plan on seeing if I

[2018-01-07 21:49] rowanwins commented on #1211
Here is my [WIP repo](https://github.com/rowanwins/visibility-graph) for constructing a visibility graph from geojson. It's surprising but I can't find any js implementations for constructing visibility graphs. My work is based porting this [python lib](https://github.com/TaipanRex/pyvisgraph). I'm still getting my head around the algorithm so it's not working yet but hopefully it's not too far of

[2018-01-08 03:01] bulutkartal commented on #1211
Pyvisgraph is a great example. I wish he would do it in c# :(

[2018-01-08 10:52] winsento opened #1214 "SquareGrid lower then bbox"
SquareGrid lower then bbox:

- GeoJSON data [gist file](https://gist.github.com/anonymous/9069b251b6a883d9084854767a7a277a).
- Example [jsfiddle](http://jsfiddle.net/winsent/bh8mdefx/).

![image](https://user-images.githubusercontent.com/2316328/34667683-1d1c3812-f47b-11e7-911f-865c312ed1ac.png)

[2018-01-08 11:00] rowanwins commented on #1214
What exactly is the question @winsento ?

[2018-01-08 11:03] rowanwins commented on #1211
https://github.com/atil/visibilitygraph is c#

[2018-01-08 11:08] winsento commented on #1214
@rowanwins  Why  squareGrid lower then bbox?

[2018-01-08 11:21] rowanwins commented on #1214
`turf/square-grid` calculates how many cells will fit in your bbox according to the cell size that you pass, if it doesnt fit exactly then it centers things accordingly.

If you want them to align exactly I'd suggest calculating the width of your bounding box first, and then adjusting the cell size accordingly.

Hope that helps

[2018-01-08 11:32] winsento commented on #1214
@rowanwins Yes, that helps. Thank you.

[2018-01-08 11:32] #1214 closed

[2018-01-08 11:45] winsento opened #1215 "SquareGrid mask does not filter correctly"
SquareGrid mask does not filter correctly (see example and screenshot). If set a cell size larger - then everything is ok.

- GeoJSON data [gist file](https://gist.github.com/anonymous/9069b251b6a883d9084854767a7a277a).
- Example [jsfiddle](http://jsfiddle.net/winsent/bh8mdefx/14/).

![image](https://user-images.githubusercontent.com/2316328/34669313-0e40e9da-f482-11e7-8c48-5f14ff2654b6.png)

[2018-01-08 12:56] rowanwins commented on #1215
Hmm thats interesting, thanks for the test case @winsento , we'll do some digging and see if we can see whats going on.

[2018-01-08 13:08] strech345 opened #1216 "booleanDisjoint returns true if intersection exists"
if i create a cross of two geometries i get a result of intersect. But booleanDisjoint return also true.

Here an example
http://bl.ocks.org/anonymous/raw/8011ae88b44c0e014c64bffd0c0f009d/

[code]

The result of intersection
[code]

[2018-01-08 17:06] erikh2000 commented on #1213
@rowanwins Nice. Thanks for the update. I may play with that code a bit.

[2018-01-08 18:09] divya1c opened #1217 "losing precision on cleanCoords results in invalid polygons"
Hi!

I am trying to use cleanCoords while creating my polygon to avoid duplicate coordinates and I am running into issues. cleanCoords seems to be taking 2 as its precision. Is it possible for me to increase the precision of the cleanCoords operation or is there some other way I can clean my coordinates?

Here's my polygon's coordinates:
[-95.69222580565636, 29.62573526217787]
[-95.69222580565636,

[2018-01-08 21:27] aziz-boudi4 commented on #649
I'm using a `<Layer>` and a `<Feature> from `react-mapbox-gl` to draw a line from `Point A` to `Point B` ( see screenshot 1)

My goal is to use `line-arc` and `center` from `turf js` in order to have a curved line between `point A` and `point B`

I managed to get a curved line, but it's not starting at `Point A` and it's not finishing at `Point B`... it is instead drawn in the middle of the map (s

[2018-01-08 21:30] aziz-boudi4 opened #1218 "How to use center and lineArc to draw a curved line from PointA and PointB ?"
I'm using a `Layer` and a `Feature` from react-mapbox-gl to draw a line from point to point B` ( see screenshot 1)

My goal is to use line-arc and center from turf js in order to have a curved line between point A and point B

I managed to get a curved line, but it's not starting at Point A and it's not finishing at Point B... it is instead drawn in the middle of the map (see screenshot number 2)

[2018-01-08 22:33] rowanwins commented on #1218
If I understand correctly you basically want to create a curved line between your points, keeping the same start and end point. `line-arc` isn't really intended for this. You're probably better off trying to use `great-circle` - see http://turfjs.org/docs/#greatCircle

[2018-01-08 22:34] rowanwins commented on #1216
Thanks for reporting the bug @strech345 , will work to get a patch out asap.

[2018-01-08 22:38] rowanwins commented on #1217
Hmm thats a bit unexpected, @stebogit might be able to provide a bit more info as to what is happening...

[2018-01-09 00:46] aziz-boudi4 commented on #1218
@rowanwins Thanks, it's working. Do you know how to adjust the curvature of the Arc? Can we even do that with `great-circle`?

[2018-01-09 01:07] rowanwins commented on #1218
Unfortunately curvature can't be adjusted with `great-circle`, a great circle is fixed formula.

Another alternative approach might be to use `turf/midpoint` to calculate your midpoint of your existing points, as well as then get their bearing using `turf/bearing`. Then feed the midpoint and bearing into `turf/destination`, as well as your desired offset distance, this will you give you a point th

[2018-01-09 03:32] DenisCarriere commented on #1218
@rowanwins Great answer! 👍 I think you're spot on with your explanation, @aziz-boudi4 I'd recommend using @rowanwins's last comment, that's how I would do it as well.

[2018-01-09 04:06] aziz-boudi4 commented on #1218
@rowanwins Thanks for the detailed explanation. I will give it a try and I'll keep you posted on the progress. Good idea to bundle it up as a module so that others can use it. I'm sure it's a common use case

[2018-01-09 13:19] guananny2 opened #1219 "How can I start isolines"
Please provide the following when reporting an issue:

- [ ] GeoJSON data as a [gist file](https://gist.github.com/) or [geojson.io](http://geojson.io/) (filename extension must be `.geojson`).
- [ ] Snippet of source code or for complex examples use [jsfiddle](https://jsfiddle.net/).

![default](https://user-images.githubusercontent.com/22285339/34722444-ec32e874-f581-11e7-9f8e-a92223391171.png)

[2018-01-09 15:23] DenisCarriere commented on #1219
@guananny2 Thanks for the comment, `@turf/isolines` is a little tricky to use with custom data.

Here's the example that's listed using `@turf/point-grid`.

[code]

[2018-01-09 15:41] DenisCarriere commented on #1094
👍 @rowanwins Agreed, having both modules align would be the best approach using `geojson-polygon-self-intersections`, unfortunately that's not a quick fix and would require some serious effort in making that modification.

[2018-01-09 16:28] stebogit commented on #1217
@divya1c @rowanwins `@turf/clean-coords` does not alter the coordinates, it just compares the points and filters them if necessary.
I don't see any issue with the example:
https://jsfiddle.net/jStefano/bzqbm1e9/

Maybe something else is causing the issue. @divya1c you want to share more of your code so we can take a look?

[2018-01-09 18:35] divya1c commented on #1217
hi @stebogit thank you for the reply. i thought cleanCoords removes only duplicate coordinates. I understand now that it removes all unnecessary coordinates if its a linear geom.
I assume that since its a polygon, many of the operations need the polygon to have atleast 4 coordinates. So, if I simplify it, operations like unkinkPolygon throw errors.
For example, in your jfiddle, if I run
[code]
It

[2018-01-10 10:41] guananny2 commented on #1219
Thanks for your reply~
I use the fiirst way to get start,but the firebug print the error log as "TypeError: turf.bbox is not a function"
what's wrong with me?
![default](https://user-images.githubusercontent.com/22285339/34768032-b14b8154-f634-11e7-8a3c-6235de9ab58a.png)

![default](https://user-images.githubusercontent.com/22285339/34768385-a4c6d216-f635-11e7-8776-4381a04acfd6.png)

[2018-01-10 16:23] stebogit commented on #1217
I believe a line can/should not be converted to a polygon like you do, therefore it should be treated as a special case, or forbidden; maybe you could require at least 3 points not all on the same line (you could use `@turf/point-on-line` to check) to be drawn by the user.

Even if there is no specific mention to this case in [the specs](https://tools.ietf.org/html/rfc7946#section-3.1.6), it says:

[2018-01-10 17:38] DenisCarriere commented on #1217
That's a head scratcher for sure, I support @stebogit 's comment by saying it would not be a valid GeoJSON LineString, definitely a special case to convert from Ring to LineString.

[2018-01-10 17:44] DenisCarriere commented on #1219
@guananny2 You need to keep your Javascript code in the same code block.

[code]

[2018-01-10 17:44] #1219 closed

[2018-01-11 08:13] rowanwins commented on #1215
grrr really need `turf/boolean-intersects` right about now, add it to the to-do list :)

[2018-01-11 15:08] #1216 closed

[2018-01-11 17:32] stebogit commented on #1218
Hey @aziz-boudi4, I'm not sure if I have understood your need, but if you want to basically draw an arc between points you could also do something like this:
[code]
![screen shot 2018-01-11 at 9 20 20 am](https://user-images.githubusercontent.com/12717225/34837757-aa569e3e-f6b0-11e7-935b-8e5e7c2940a5.png)

Clearly the code is not perfect, but it's just a quick draft to give you the gist.

It could

[2018-01-11 23:53] aziz-boudi4 commented on #1218
@stebogit thank you very much for taking the time to help out.

I got the big picture, but I can't seem to find how to make the line starts at `pointA` and finishes at `pointB` ?

[2018-01-13 18:52] erikh2000 commented on #1217
Another thought, @divya1c, do you need to call cleanCoords() on the geometry passed to unkinkPolygon()? Maybe an algorithm that works is run unkinkPolygon() and then call cleanCoords() on the returned polygons with a catch block. If an individual polygon throws inside of cleanCoords() with the error you described, just discard its geometry from consideration. My rationale is that if that polygon h

[2018-01-13 18:57] mfogel opened #1224 "@turf/difference throws error when removing a 'perfect fit' multipolygon from polygon"
It appears that when subtracting a multipolygon from a polygon, if one of the polygons of the multipolygon matches exactly, a `TopologyException: no outgoing dirEdge found`  will be thrown.

Here's a JS fiddle demonstrating the issue: https://jsfiddle.net/0t3oa3f1/3/

[2018-01-17 05:12] divya1c commented on #1217
thanks for all the comments @stebogit @DenisCarriere @erikh2000. My use case is that i get an intersection between the free draw polygon that is drawn by the user and an underlying layer. So, i can't really ignore the line that is drawn. I will have to show the user the underlying layer polygon that intersects with the line. And my product spec restricts me from forbidding the user from drawing a

[2018-01-17 11:03] rowanwins commented on #1224
Hi @mfogel

Yeah unfortunantly the difference module is currently provided by `jsts` which is known to have a range of issues. We're close-ish to replacing that dependency so hopefully we'll get there soon 🤞

[2018-01-17 17:37] ath0mas opened #1227 "Wrong booleanDisjoint where a line is completely contained within a poly"
**booleanDisjoint** returns _true_ when testing with a line completely contained within a poly.
Expecting result to be _false_ instead.

Example (turf v5.1.6):
[code]

[2018-01-17 18:32] stebogit commented on #1227
Good catch @ath0mas, this is definitely a bug 🐛 .
Is the output of this same case correct for `@turf/boolean-intersects` (which is the opposite of `@turf/boolean-disjoint`)?

@rowanwins @DenisCarriere if we "officially" [decided to follow](https://github.com/Turfjs/turf/issues/1140)  (this is my understanding) the [ESRI definitions](http://edndoc.esri.com/arcsde/9.0/general_topics/understand_spati

[2018-01-17 21:15] jfuehner opened #1228 "Feature Request: Calculate area of circle and ellipse"
Would love to have the ability to calculate the area of a circle and ellipse just as you can with polygons getting the results back in kilometers, meters, etc.

Thanks!

[2018-01-17 21:19] stebogit commented on #1228
@jfuehner did you try to use [`@turf/area`](https://github.com/Turfjs/turf/tree/master/packages/turf-area) and it didn't work?
Circles and ellipses are actually polygons, so by rights it should work fine.

[2018-01-17 21:55] jfuehner commented on #1228
I thought that area would work as well but it threw an error stating it required 4 or more points. I am using turf with Cesium’s CircleGeometry/EllipseGeometry which only provides me with the radius and center of a circle and the center and semi major/minor respectively.

[2018-01-17 21:59] stebogit commented on #1228
@jfuehner could you please post an example of the code you are using? It's not really clear why you get the error.

[2018-01-17 22:05] rowanwins commented on #1228
Hi @jfuehner

Cesium's circleGeometry isn't geojson. Turf modules only work with geojson inputs. Im not sure if cesium offers you any ability to convert your geometries to geojson...

[2018-01-18 01:56] stebogit commented on #1228
Wise @rowanwins 😄

I guess we can close this since `@turf/area` does work on circles or ellipses:
[code]

[2018-01-18 01:56] #1228 closed

[2018-01-18 09:13] ath0mas commented on #1227
@stebogit
Indeed, ESRI definitions state that `Intersects returns the exact opposite result of disjoint.`
but
`@turf/boolean-intersects` does not exist
`@turf/intersect` takes two polygons (testing with a line and a polygon always returns `null`)
`@turf/line-intersect` returns intersecting points (empty result if line is within, not intersecting)

[2018-01-19 09:53] bildsoe opened #1229 "Strange large number when calculating area"
Hello!

When I calculate the area of a multipolygon I get a number that is much larger than what I expect. I don't know if projection has something to do with it?

GeoJSON - this is an area in Denmark in the projection 25832:
https://gist.github.com/bildsoe/0ad3fe6a950b5ff8b0f9c970961fb7c4

Code snippet - this is where I calculate the area:
[code]

What do you think?

[2018-01-19 15:32] DenisCarriere commented on #1229
@bildsoe You're data is using a different projection, TurfJS only supports WGS84 (in decimal degrees).

Your Gist
[code]

[2018-01-19 15:32] #1229 closed

[2018-01-20 04:39] gorbypark commented on #1091
I am getting an turf undefined error in the browser when doing ```import * as turf from @turf/turf``` or ```import '@turf/turf``` while using web pack.  Any ideas?

[2018-01-20 22:45] stebogit commented on #1218
@aziz-boudi4 try using Rhumb modules instead and probably using angles instead of bearing (`@turf/helpers.bearingToAzimuth`) could make calculations easier.

Anyway, `lineArc` uses Turf functions on the spherical plain (namely `destination` and `bearing`), if would be useful to add a 'mercator' option to switch to Rhumb functions.
I tried here to draft the function [here](https://jsfiddle.net/jSte

[2018-01-22 15:55] andersfalk opened #1232 "lineSplit doesn't split correctly"
**LineSplit** is a great feature but it doesn't work as expected. I use a simple Polygon (triangle) as a splitter to split a simple four-point LineString. This should result in three LineStrings but only two are produced:
[code]
Returns this collection:
[code]
Instead of this:
[code]
_This is my first post ever on GitHub, so please be kind if I'm doing something wrong. Have searched earlier issues

[2018-01-22 20:03] rowanwins commented on #1232
Hey @andersfalk

Thanks for a great first bug report, test cases like you provided are always super helpful!

When I've got a computer turned on i'll take a look into things and report back.

[2018-01-24 08:10] stebogit commented on #1227
Ooops... :sweat_smile:

[2018-01-25 23:08] mfogel commented on #297
I'm getting this `found non-noded intersection between LINESTRING` error using `@turf/difference` v5.1.5 with valid polygons (pass geojsonhint, and have no kinks).

I wrote up a test case demonstrating the error, only to find that it is already fixed on #1225. Looking forward to that getting merged in!

[2018-01-26 14:31] milafrerichs commented on #1215
have the same issue. using a cellSize of `0.01`

<img width="741" alt="bildschirmfoto 2018-01-26 um 15 25 18" src="https://user-images.githubusercontent.com/688980/35443970-35bb7456-02ad-11e8-93ff-ad3428c957ef.png">

`0.02` seems to be working fine.
<img width="641" alt="bildschirmfoto 2018-01-26 um 15 28 41" src="https://user-images.githubusercontent.com/688980/35444143-df04b96e-02ad-11e8-8818-fe

[2018-01-26 14:36] winsento commented on #1215
@milafrerichs i think this PR fix it https://github.com/Turfjs/turf/pull/1231

[2018-01-26 15:30] DenisCarriere commented on #1215
This will most likely fix it, we don't have an expected timeline when those PR's will be merged and published in the next minor/major release.